.s-basket {
	margin: 0 auto;
	
	&__header{
		padding: 0 100px;
		margin-bottom: 33px !important;

		@media (max-width: $bp-xl) {
			padding: 0;
			margin-bottom: 0 !important;
		}
	}

	&__total-info{
		&_fixed{
			display: none;
			position: fixed;
			z-index: 999;
			left: 0;
			top: 35px;
			width: 100%;
			.c-btn{
				max-width: 280px;
				@media (max-width: $bp-sm) {
					max-width: initial;
				}
			}
		}
	}
	&__total-info-inner{
		background-color: #fff;
		padding: 10px 20px;
	}
	&__total-price {
		margin-bottom: 20px;
	}

	&__coupon {
		font-size: 1.125rem;
	}

	&__info {
		margin-bottom: 40px;
	}

	&__section {
		&:not(:last-child){
			border-bottom: 1px solid #ecf2f6;
		}
	 
	    padding: 0 128px;
	    margin: 0 -30px;
	    margin-bottom: 40px;

	    @media (max-width: $bp-xl) {
	    	padding: 0 35px;
	    }
		
	    @media (max-width: $bp-lg) {
			margin: 0 -20px;
			margin-bottom: 40px;
			padding: 0 20px;
	    }

		.c-form {
			&__radio {
				font-size: 1.125rem;
			}

			&__radio-label {
				max-width: 800px;

			}

			&__group {
				margin-bottom: 80px;

				@media (max-width: $bp-xl) {
					margin-bottom: 40px;
				}
			}

		}

		&_products{
			border-bottom: none !important;
			margin-bottom: 10px;

			@media (max-width: $bp-lg) {
				padding: 0 15px;
			}
		}

		&_result-price{
			height: 122px;
			background: #ecf2f6;
			
			@media (max-width: $bp-lg) {
			    padding: 0 10px;
			}
		}

	}

	&__title {
		font-family: $ff-secondary;
		font-size: 1.4375rem;
		margin-bottom: 50px;
	}

	&__content {
	}

}
