.s-basket {
	max-width: 961px;
	margin: 0 auto;
	
	&__total-info{
		&_fixed{
			display: none;
			position: fixed;
			z-index: 999;
			left: 0;
			top: 35px;
			width: 100%;
			.c-btn{
				max-width: 280px;
				@media (max-width: $bp-sm) {
					max-width: initial;
				}
			}
		}
	}
	&__total-info-inner{
		background-color: #fff;
		padding: 10px 20px;
	}
	&__total-price {
		margin-bottom: 20px;
	}

	&__coupon {
		font-size: 1.125rem;
	}

	&__info {
		margin-bottom: 40px;
	}

	&__section {
		&:not(:last-child){
			border-bottom: 1px solid #ecf2f6;
		}
		margin-bottom: 50px;
		
		.c-form {
			&__radio {
				font-size: 1.125rem;
			}

			&__radio-label {
				max-width: 800px;

			}

			&__group {
				margin-bottom: 80px;
			}

		}

	}

	&__title {
		font-family: 'Roboto Slab';
		font-size: 1.4375rem;
		margin-bottom: 50px;
	}

	&__content {
		padding-left: 100px;
		@media (max-width: $bp-lg) {
			padding-left: 0;
		}
	}

}
