.o-page {
	background-color: #fff;

	&__container {
		display: flex;
	}

	&__body{
		width: calc(100% - 300px);
		@media (max-width: 1200px) {
			width: 100%;
		}
	}

	&__content {
		padding: 0 30px;
		overflow-x: hidden;

		@media (max-width:$bp-lg) {
			padding: 0 20px;
		}

	}

	&__sidebar {
		width: 270px;
		margin-right: 30px;
		flex-shrink: 0;

		@media (max-width:$bp-xl) {
			display: none;
		}

	}

}
