.o-section{
	&__header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 40px;
	}
	&__title{
		font-size: 1.4375rem;
		color: #222222;
		font-family: "Cuprum";
		margin: 0;
	}
	&__navigation{
		font-family: "PT Sans";
		font-style: italic;
		font-size: 1rem;
		color: #6493ad;
	}
	&__navigation-item{
		&:not(:last-child){
			margin-right: 30px;
		}
	}
}