@import "~normalize.css";
@import "variables";
@import "typography.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~swiper/dist/css/swiper.min.css";
@import "~lightgallery/src/sass/lightgallery.scss";
@import "~selectric/public/selectric.css";
@import "states.scss";

html,
body{
	height: 100%;
}

body{
	background: linear-gradient(to top, #e4edf2 0%, #a2c4d3 100%) no-repeat;
	background-color: #e4edf2;
	font-family: "PT Sans", "Open Sans", Arial, sans-serif;
	font-size: 16px;
	color: #222222;
}

button{
	border: none;
	box-shadow: none;
	cursor: pointer;
	&:focus{
		outline: none;
	}
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	color: #6493ad;
	box-shadow: 0 1px 0 0 rgba(100, 147, 173, 0.3);
    line-height: 1;
	&:hover{
		text-decoration: none;
		color: #f1ca49;
	}
}



/* Rewrite */
.lg-backdrop{
	z-index: 1050;
}
[class^="col-"]{
	padding-left: 10px;
	padding-right: 10px;
}
.row{
	margin-left: -10px;
	margin-right: -10px;
}