@font-face {
	font-family: 'Rubl';
	src: url('../fonts/alsRubl.woff2') format('woff2'),
	url('../fonts/alsRubl.woff') format('woff');
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat600.woff2') format('woff2'),
	url('../fonts/montserrat600.woff') format('woff');
	font-weight: 600;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat700.woff2') format('woff2'),
	url('../fonts/montserrat700.woff') format('woff');
	font-weight: bold;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/openSans700.woff2') format('woff2'),
	url('../fonts/openSans700.woff') format('woff');
	font-weight: bold;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/openSans700italic.woff2') format('woff2'),
	url('../fonts/openSans700italic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/openSans800.woff2') format('woff2'),
	url('../fonts/openSans800.woff') format('woff');
	font-weight: 800;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/openSansItalic.woff2') format('woff2'),
	url('../fonts/openSansItalic.woff') format('woff');
	font-style: italic;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/openSansRegular.woff2') format('woff2'),
	url('../fonts/openSansRegular.woff') format('woff');
}
@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/ptSans700.woff2') format('woff2'),
	url('../fonts/ptSans700.woff') format('woff');
	font-weight: bold;
}
@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/ptSans700italic.woff2') format('woff2'),
	url('../fonts/ptSans700italic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/ptSansItalic.woff2') format('woff2'),
	url('../fonts/ptSansItalic.woff') format('woff');
	font-style: italic;
}
@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/ptSansRegular.woff2') format('woff2'),
	url('../fonts/ptSansRegular.woff') format('woff');
}
// @font-face {
// 	font-family: 'Roboto Slab';
// 	src: url('../fonts/robotoSlab.woff2') format('woff2'),
// 	url('../fonts/robotoSlab.woff') format('woff');
// }
// @font-face {
// 	font-family: 'Roboto Slab';
// 	src: url('../fonts/robotoSlab700.woff2') format('woff2'),
// 	url('../fonts/robotoSlab700.woff') format('woff');
// 	font-weight: bold;
// }
// @font-face {
// 	font-family: 'Segoe UI';
// 	src: url('../fonts/segoeuib.woff2') format('woff2'),
// 	url('../fonts/segoeuib.woff') format('woff');
// }