/* Colors */


/* Grid */

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1260px
    ) !default;

/*=============================
=            Color            =
=============================*/

$zidrihr: #ecf2f6;
$srerpo: #989898;
$clr: #8cafc2;

$primary: $clr;
$success: #01bf62;
$secondary: #f1ca49;

$filter-detail-name-bg: $zidrihr;
$filter-detail-border-color: $zidrihr;
$filter-detail-title-color: $srerpo;
$filter-detail-group-title: $srerpo;

/*=====  End of Color  ======*/



$bp-xs: 0;
$bp-sm-2: 450px;
$bp-sm: 576px;
$bp-md: 767px;
$bp-lg: 992px;
$bp-xl: 1200px;

$ff-secondary: 'Cuprum', 'Arial', sans-serif;
$ff-primary: 'Open Sans', 'Arial', sans-serif;