/* Colors */


/* Grid */

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1260px
    ) !default;
$success: #01bf62;
$secondary: #f1ca49;
$bp-xs: 0;
$bp-sm-2: 450px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;