.h-text-blue{
	color: #3e7ce3 !important;
}
.h-text-black{
	color: #222 !important;
}
.h-no-link{
	box-shadow: none;
}
.h-price{
	&:after{
	    content: 'a';
	    display: inline-block;
	    margin-left: 5px;
	    font-family: 'Rubl';
	    text-transform: lowercase;
	}
}