.h-text-blue {
	color: #3e7ce3 !important;
}

.h-text-black {
	color: #222 !important;
}

.h-no-link {
	box-shadow: none;
}

.h-price {
	font-family: $ff-primary;
	font-weight: bold;

	&:after {
		content: 'a';
		display: inline-block;
		margin-left: 5px;
		font-family: 'Rubl';
		text-transform: lowercase;
	}

}

.h-text-sm {
	font-size: 0.8125rem;
}

.h-text-md{
	font-size: 1.125rem;
}

.h-text-lg{
	font-size: 1.375rem;
}

.h-text-xl{
	font-size: 1.625rem;
}

.h-is-disabled{
	pointer-events: none;
}

.h-position-relative{
	position: relative !important;
}

.h-cursor-pointer{
	cursor: pointer;
}