@import
	"brand/index",
	"buttons/index",
	"btn",
	"achieve",
	"back-call",
	"call",
	"choosed-tag",
	"counter",
	"day-block",
	"float-btn",
	"info",
	"load-more",
	"logo",
	"phone",
	"promocode",
	"rating",
	"read-more",
	"share",
	"timer",
	"tip"
;