.c-all-shares{
	max-width: 230px;
	height: 250px;
	background: url('../img/content/golden-wreath.png');
	background-size: contain;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 50px;
	margin: 33px auto;
	&__body{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 0;
	}
	&__title{
		font-family: "Roboto Slab";
		font-size: 20px;
		font-weight: 700;
		line-height: 27.99px;
		text-transform: uppercase;
		color: #f1ca49;
		letter-spacing: -0.2px;
		margin-bottom: 10px;
		text-align: center;
	}
	&__link{
		font-size: 12px;
		text-transform: uppercase;
	}
}