.c-article{
	&:not(:last-child){
		margin-bottom: 60px;
	}
	&__date{
		color: #8cafc2;
		border-top: 1px solid rgba(140, 175, 194, 0.4);
		position: relative;
		font-size: 14px;
		margin-bottom: 25px;
	}
	&__date-txt{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	    background: #fff;
	    padding-right: 10px;
	}
	&__thumbnail{
		width: 100%;
		margin-bottom: 25px;
		img{
			width: 100%;
		}
	}
	&__title{
		color: #222222;
		font-weight: 700;
		font-size: 24px;
		margin-bottom: 5px;
	}
	&__description{
		margin-bottom: 15px;
		line-height: 24px;
	}
	&__read-more{
		font-style: italic;
	}
	&__text{
		ul{
			list-style: disc;
			padding-left: 15px;
			line-height: 2;
		}
		img{
			max-width: 100%;
		}
	}
}