.c-breadcrumbs {
	font-size: 13px;
	margin-bottom: 16px;

	@media (max-width:$bp-sm) {
		font-size: 11px;
		display: flex;
		flex-wrap: wrap;
		padding: 5px 0;
	}

	&__dropdown-menu {
		flex-direction: column;
		padding: 10px;

		&.show {
			display: flex !important;
		}

		a {
			margin-bottom: 10px;
			box-shadow: none;
		}

	}

	&__item {
		text-transform: uppercase;
		box-shadow: none;
	    max-width: 170px;
	    display: inline-block;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
		&:not(:last-child) {
			&:after {
				content: '/';
				display: inline-block;
				margin: 0 12px;
				@media (max-width:$bp-sm) {
					margin: 0 5px;
				}
			}

		}
		&:nth-child(3){
			&:after{
				content: '';
			}
		}
		&_dropdown {
			border-bottom: 1px dotted rgba(100, 147, 173, 0.3);
			position: relative;

			&:after {
				content: '';
				display: block;
				border: none;
				width: 16px;
				height: 16px;
				border-radius: 50%;
				position: absolute;
				right: -32px;
				top: 50%;
				transform: translateY(-50%);
				background: #f1ca49 url('../img/icons/arrow-down.svg') no-repeat center center;
			}

		}

	}

}
