.c-breadcrumbs {
	font-size: 0.8125rem;
	margin-bottom: 32px;
	position: relative;

	@media (max-width:$bp-md) {
		font-size: 0.6875rem;
		display: flex;
		padding: 5px 0;
		margin-bottom: 16px;
	}

	@media (max-width:$bp-sm-2) {
		align-items: center;
	}

	&__action{
		display: inline-block;
		border: none;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background: #f1ca49 url('../img/icons/arrow-down.svg') no-repeat center center;
	}
	
	&__list{
		display: flex;
		padding: 5px 0;
		overflow: hidden;
		overflow-x: auto;
	}

	&__dropdown-menu {
		flex-direction: column;
		align-items: flex-start;
		padding: 10px;

		&.show {
			display: flex !important;
		}

		a {
			margin-bottom: 10px;
			box-shadow: none;
			text-transform: initial;
    		color: #000;
    		&:hover{
    			box-shadow: 0 1px 0 0 rgba(100, 147, 173, 0.3);
    			color: #6493ad;
    		}
		}

	}

	&__item {
		text-transform: uppercase;
		box-shadow: none;
	    // max-width: 150px;
	    display: inline-block;
	    white-space: nowrap;

		&:after {
			content: '/';
			color: #6493ad;
			display: inline-block;
			margin: 0 12px;
			@media (max-width:$bp-sm) {
				margin: 0 5px;
			}
		}

		&:last-of-type:after{
			display: none;
		}


		&_dropdown-wrap{
			max-width: initial;
	    	overflow: visible;
			position: relative;
			&:after{
				margin-left: 20px !important;
			}
		}
		&_dropdown {
			position: relative;
			top: 2.5px;
			margin: 0 10px;
			cursor: pointer;
			&[aria-expanded="true"]{
				border-bottom: none;
				box-shadow: none;
			}
			&:after {
				display: none;
			}
		}

	}

}
