.c-catalog-menu{
	position: relative;
	&:hover &__nav{
		display: block;
	}
	&:hover &__toggle-icon{
		transform: translateY(-50%) rotate(180deg);
	}
	&__item_dropdown > &__link[aria-expanded="true"]{
		background: #8cafc2;
		color: #fff;
	}
	&__item_dropdown > &__link:after{
		content: '';
		display: block;
		position: absolute;
		right: 20px;
		top: 40%;
		display: block;
		width: 10px;
		height: 10px;
		background: url('../img/icons/right-arrow.svg');
		transform: rotate(90deg) translateY(-50%);
	}
	&__link{
		display: block;
		color: #333;
		box-shadow: none;
		padding: 10px 20px;
		position: relative;
		&:hover{
			color: #fff;
			background: #8cafc2;
		}
	}
	&__submenu{
		padding: 5px 0;
		padding-left: 30px;
	}
	&__toggle{
		height: 48px;
		width: 270px;
		background-color: #8cafc2;
		position: relative;
		border-radius: 3px;
		display: flex;
		align-items: center;
		padding-left: 20px;
		text-transform: uppercase;
		color: #fff;
		font-size: 18px;
		cursor: pointer;
		@media (max-width:$bp-lg) {
			width: 240px;
		}
	}
	&__toggle-icon{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 15px;
		width: 19px;
		height: 19px;
		border-radius: 50%;
		background: rgba(255,255,255,.1) url('../img/icons/arrow-down.svg') no-repeat center center;
	}

	

	&__nav{
		z-index: 22;
		width: 100%;
		background-color: #fff;
	}
}