.c-checkout-products {
	position: relative;
	padding: 10px 30px;
	background: #fff;
	
	

	@media (max-width:$bp-md) {
		padding: 16px 20px;
	}

	.swiper-container {
		padding: 5px 4px;
		padding-bottom: 5px;
	}

	.swiper-scrollbar {
		background-color: #e4edf2;
	}

	.swiper-scrollbar-drag {
		background-color: #8cafc2;
	}

	.swiper-button-prev, .swiper-button-next {
		width: 36px;
		height: 36px;
		border-radius: 50%;
		background:#333 url('../img/icons/right-arrow-white.svg') no-repeat center center;
		background-size: 50%;

		@media (max-width:$bp-md) {
			display: none;
		}

	}

	.swiper-button-prev {
		left: -20px;
		transform: scaleX(-1);
	}

	.swiper-button-next {
		right: -20px;
	}

	.c-checkout-product {
		position: relative;
		text-align: center;

		&:after {
			content: '';
			display: block;
			width: 16px;
			height: 16px;
			background: url(../img/icons/plus.png) no-repeat center center;
			font-size: 3.125rem;
			color: #8cafc2;
			position: absolute;
			right: -24px;
			margin-top: 0;
			top: 30%;
			transform: translateY(-50%);
			line-height: .5;
		}

		&:last-child {
			&:after {
				display: none;
			}

		}

		&__remove {
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background: #ecf2f6 url(../img/icons/close.png) no-repeat center center;
			position: absolute;
			right: -6px;
			top: -5px;
		}

		&__img {
			width: 115px;
			height: 115px;
			overflow: hidden;
			margin: 0 auto;
			margin-bottom: 11px;
			padding: 10px;

			@media (max-width:$bp-md) {
				width: 100%;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				margin: 0 auto;
				display: block;
			}

		}

		&__link {
			margin: 0 auto;
			margin-top: 10px;
			text-align: center;
			text-transform: uppercase;
			font-size: 0.75rem;
		}

		&__title {
			font-size: 0.75rem;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 0;
			line-height: 1.4;
		}

		&__price {
			text-align: center;
			font-size: 0.9375rem;
			font-family: "Roboto Slab";

			&:after {
				content: 'a';
				display: inline-block;
				margin-left: 7px;
				font-family: 'Rubl';
			}

		}

	}

}
