.c-checkbox{
	position: relative;
	display: flex;
	align-items: center;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	padding: 5px 0;
	&_theme-yellow{
		color: #f1ca49;
		font-weight: 700;
	}
	&_theme-yellow &__label:before{
		border: 1px solid #f1ca49;
	}
	&__input{
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}

	&__input:checked ~ &__label{
		&:before{
			background-color: #8cafc2;
		}
		&:after{
			opacity: 1;
		}
	}
	&_theme-yellow &__input:checked ~ &__label{
		&:before{
			background-color: #f1ca49;
		}
	}
	&__label{
		padding-left: 40px;
		&:before{
			content: '';
			width: 24px;
			height: 24px;
			border-radius: 3px;
			border: 1px solid #e4edf2;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		&:after{
			content: '';
			width: 24px;
			height: 24px;
			background: url(../img/icons/check-icon.png) center center no-repeat;
			background-size: 60%;
			position: absolute;
			opacity: 0;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}