.c-choose-by-property{
	border-radius: 3px 3px 0 0;
	border: 2px solid #ecf2f6;
	border-bottom: none;
	margin-bottom: 35px;
	@media (max-width: $bp-lg) {
		border-right: none;
		border-left: none;
	    width: calc(100% + 40px);
	    margin-left: -20px;
	}
	
	&__list{
		// display: flex;
		// justify-content: space-between;
		position: relative;
		@media (max-width: $bp-sm) {
			max-height: 180px;
		}
		&.is-active{
			max-height: 800px;
		}
		&:after{
			@media (min-width: $bp-sm) {
				display: none;
			}
		}
	}
	&__item{
		// max-width: 120px;
		margin-bottom: 10px;
		// @media (max-width: $bp-lg) {
		// 	max-width: initial;
		// 	width: 33.33%;
		// 	margin-bottom: 10px;
		// }
		// @media (max-width: $bp-sm-2) {
		// 	width: 50%;
		// }
	}
	&__image{
		display: block;
		margin-bottom: 10px;
		width: 100%;
		height: 140px;
		overflow: hidden;
		@media (max-width: $bp-lg) {
			display: none;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__footer{
		font-size: 0.75rem;
		text-transform: uppercase;
		text-align: center;
		// @media (max-width: $bp-lg) {
		// 	// text-align: left;
		// }
	}
	&__more-btn{
		font-size: 0.75rem;
		text-transform: uppercase;
		border-radius: 3px;
		background-color: #ecf2f6;
		color: #222;
		width: 127px;
		height: 37px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 10px auto;
		margin-top: 20px;
		@media (max-width: $bp-lg) {
			display: none;
		}
	}
	.nav-tabs{ 
		border: none;
		justify-content: space-between;
		flex-wrap: nowrap;
		.nav-item{
			margin-bottom: 0;
			flex-grow: 1;
			text-align: center;
			&:not(:last-child){
				.nav-link{
					border-right: 1px solid rgba(140, 175, 194, .2);
				}
			}
		}
		.nav-link{
			border: none;
			border-radius: 0;
			font-size: 13px;
			letter-spacing: 0.65px;
			color: #8cafc2;
			text-transform: uppercase;
			font-weight: 700;
			padding: 18px 0;
			box-shadow: none;
			transition: .3s;
			
			&:hover{
				background-color: #ecf2f6;
			}
			&.active{
				background-color: #f1ca49;
				color: #fff;
			}
		}
	}
	.tab-content{
		border-top: 1px solid rgba(140, 175, 194, .2);
		padding: 20px;
		padding-bottom: 10px;
	}
}