.c-counter{
	display: flex;
	align-items: center;
	&__timer{
		display: flex;
		align-items: center;
		.c-progress-radial{
			 &:not(:last-child){
			 	margin-right: 5px;
			 }
		}
	}
	&__txt{
		margin-left: 11px;
		font-size: 13px;
		font-weight: bold;
		letter-spacing: 0.2px;
		text-transform: uppercase;
		color: #f14949;
		margin-top: 3px;
	    position: relative;
	    right: 4px;
	    @media (max-width:$bp-xl) {
	    	color: #222;
	    }
	}
}