.c-discounts{
	&__item{
		font-size: 0.875rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__price{
		font-family: "Roboto Slab";
		position: relative;
		margin-bottom: -7px;
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 1px;
			background: #333;
		}
		&:after{
			content: 'a';
			display: inline-block;
			margin-left: 5px;
			font-family: 'Rubl';
		}
	}
}