.c-filtered-products{
	margin-bottom: 60px;
	&__body{
		margin-bottom: 35px;
	}
	&__load-more{
		width: 100%;
		height: 52px;
		border-radius: 3px;
		background-color: #e0e9ee;
		text-align: center;
		line-height: 50px;
		text-transform: uppercase;
		font-size: 14px;
		display: block;
		@media (max-width: $bp-lg) {
			display: none;
		}
	}
	&__load-more-txt{
		box-shadow: 0 1px 0 0 rgba(100, 147, 173, 0.3);
	}
	&__footer{
		width: 60%;
		margin-left: auto;
		@media (max-width: $bp-lg) {
			width: 100%;
		}
	}
}