.c-filtered-product{
	border-radius: 3px;
	border: 1px solid #ecf2f6;
	margin-bottom: 35px;
	opacity: 0;
	transform: translate3d(30px, 0, 0);
	transition: .3s;
	&:hover{
		box-shadow: 0 0 15px 1px rgba(2, 0, 0, 0.33);
	}
	&.is-active{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	&__sale{
		background-color: #f3932c;
		font-family: "Roboto Slab";
		font-size: 1.125rem;
		font-weight: 700;
		width: 48px;
		height: 48px;
		line-height: 47px;
		color: #fff;
		border-radius: 50%;
		position: absolute;
		top: 10px;
		right: 10px;
		text-align: center;
	}
	&__delivery{
		display: flex;
		align-items: center;
		font-family: "Roboto Slab";
		font-size: 1.0625rem;
		font-weight: 700;
		font-style: italic;
		position: absolute;
	    bottom: 10px;
	    right: 10px;
		&:before{
			content: '';
			display: block;
			width: 37px;
			height: 23px;
			background: url('../img/icons/delivery-icon.png');
			margin-right: 10px;
		}
		&:after{
			content: 'a';
		    display: inline-block;
		    margin-left: 2px;
		    font-family: 'Rubl';
		    margin-top: -3px;
		}
	}

	&__showroom{
		position: absolute;
		top: 240px;
		width: 100%;
	}
	&__image{
		height: 270px;
		overflow: hidden;
		margin-bottom: 20px;
		position: relative;
		display: block;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__link{
		text-transform: uppercase;
		text-align: center;
		font-size: 0.8125rem;
		line-height: 22px;
	}
	&__label{
		background-color: #f1ca49;
	    transform: rotate(-45deg);
	    height: 40px;
	    width: 240px;
	    position: absolute;
	    left: -80px;
	    top: 15px;
	    text-align: center;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    font-size: 0.75rem;
	    color: #fff;
	    font-style: italic;
	}
	&__label-txt{
	    max-width: 80px;
	    display: block;
	    line-height: 1.1;
	}

	&__availability{
		font-size: 0.8125rem;
		img{
			margin-right: 10px;
		}
	}
	&__price{
		font-size: 1.125rem;
		font-weight: 700;
		font-family: "Roboto Slab";
		&:after{
		    content: 'a';
		    display: inline-block;
		    margin-left: 5px;
		    font-family: 'Rubl';
		}
	}
	&__code{
		font-size: 1rem;
		font-weight: 700;
		text-align: center;
	}
	&__dropdown{
		border-radius: 2px;
		background-color: #f1ca49;
		color: #fff;
		margin-left: 3px;
		.c-dropdown__menu{
			padding: 0;
			width: calc(100% + 20px);
			a{
				display: block;
			    box-shadow: none;
			    padding: 7px 0;
			    text-align: center;
			    border-bottom: 1px solid #f2f6f9;
			}
		}
		.c-dropdown-toggle__link{
			padding: 0 10px;
			border-radius: 2px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			font-style: normal;
			border-bottom: none;
			&:after{
			    background: url('../img/icons/right-arrow-white.svg') no-repeat;
			    background-color: #f1ca49;

			    width: 18px;
			    height: 100%;
			    right: -17px;
			    top: 0;
			    transform: rotate(90deg);
			    background-position: 50%;
			    background-size: 50%;
			    opacity: 1;
			    border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}
	&__body{
		font-size: 0.875rem;
		padding: 0 20px;
		padding-bottom: 30px;
		@media (max-height: $bp-lg) {
			font-size: 0.75rem;
		}
		@media (max-height: $bp-sm) {
			padding: 0 10px;
		}
	}
	&:hover &__footer{
		display: flex;
		@media (max-height: $bp-lg) {
			display: none;
		}
	}
	&__footer{
		height: 40px;
		background-color: #ecf2f6;
		display: flex;
		align-items: center;
		justify-content: center;
		display: none;
	}
	&__action{
		display: flex;
		align-items: center;
		font-size: 0.8125rem;
		box-shadow: none;
		img{
			margin-right: 5px;
		}
		&:not(:last-child){
			margin-right: 20px;
		}
	}
}