.c-float-btn {
	width: 200px;
	border-radius: 9px;
	letter-spacing: 0.28px;
	font-family: "Open Sans";
	font-size: 14px;
	position: fixed;
	bottom: 40px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 13px 10px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.18);
	cursor: pointer;
	padding-left: 23px;
    letter-spacing: 0;
    padding-right: 15px;
    line-height: 18px;
    @media (max-width:$bp-xl) {
    	display: none !important;
    }
	p{
		margin: 0;
	}
	&_options{
		svg{
			flex-shrink: 0;
		    width: 30px;
		    margin-left: 10px;
		}
		&:hover{
			background-color: #f1ca49;
			color: #fff;
			svg{
				background: #fff;
    			border-radius: 50%;
    			path{
    				fill: #fff;
    			}
    			path:nth-child(2){
    				fill: #f1cb4e;
    			}
			}
		}
	}
}
