.c-footer {
	margin-top: 86px;
	background-color: #dce7ed;
	padding: 40px 30px;
	padding-bottom: 25px;
	&__map{
		position: relative;
		left: -30px;
		width: calc(100% + 60px);
		margin-bottom: 15px;
		@media (max-width:$bp-md) {
				height: 310px;
			}
		& > ymaps{
			@media (max-width:$bp-md) {
				height: 100% !important;
			}
		}
	}
	&__copyright {
		font-size: 13px;
		letter-spacing: 0.53px;
		color: #8fa2ac;
		@media (max-width:$bp-md) {
			margin-bottom: 20px;
		}
	}

	a {
		margin-bottom: 15px;
		display: block;
		text-decoration: none;
		box-shadow: none;
		font-size: 14px;
		color: #8fa2ac;
		display: block;
		letter-spacing: 0.56px;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
	}

	&__bottom {
		text-align: center;
		font-size: 12px;
		color: #8fa2ac;
		letter-spacing: 0.48px;
		opacity: 0.68;

		p {
			margin: 0;
		}

	}

	&__logo {
		max-width: 120px;
		margin-bottom: 36px;
		margin-right: 60px;
		@media (max-width:$bp-xl) {
			margin-right: 20px;
		}
		@media (max-width:$bp-lg) {
			margin-right: 40px;
		}
		@media (max-width:$bp-md) {
			margin-right: 0;
			margin-bottom: 10px;
		}
	}

	&__privacy-link {
		max-width: 200px;
		line-height: 18px;
	}

	&__col {
		&_nav {
			width: 200px;
			padding-top: 7px;
			@media (max-width:$bp-lg) {
				width: auto;
			}
			@media (max-width:$bp-md) {
				text-align: center;
				margin-bottom: 20px;
			}
			a {
				margin-bottom: 16px;
				@media (max-width:$bp-md) {
					margin: 5px 10px;
				}
			}

		}

		&_contacts {
			font-size: 14px;
			letter-spacing: 0.57px;
			color: #8fa2ac;
			position: relative;
			left: -20px;
			margin-top: 7px;
			@media (max-width:$bp-lg) {
				left: 0;
				padding-left: 30px;
			}
			@media (max-width:$bp-md) {
				padding-left: 0;
			}
			a{
				
				@media (max-width:$bp-lg) {
					margin-bottom: 25px;
				}
				@media (max-width:$bp-md) {
					white-space: nowrap;
					margin: 0 10px;
					margin-bottom: 25px;
				}

			}
		}

		&_placement {
			width: 280px;
			font-size: 14px;
			letter-spacing: 0.57px;
			color: #8fa2ac;
			position: relative;
			left: -40px;
			margin-top: 4px;
			@media (max-width:$bp-lg) {
				width: auto;
				left: 0;
				padding-left: 30px;
			}
			@media (max-width:$bp-md) {
				padding-left: 0;
				text-align: center;
				padding: 0 18%;
				margin-bottom: 10px;
			}
			@media (max-width:$bp-sm) {
				padding: 0;
			}
		
			p {
				line-height: 24px;
				@media (max-width:$bp-lg) {
					margin-bottom: 25px;
				}
				@media (max-width:$bp-md) {
					margin-bottom: 15px;
				}
			}
			a{
				@media (max-width:$bp-md) {
				    text-decoration: underline;
				}

			}

		}

		&__card {
			&:nth-child(2), &:nth-child(4) {
				position: relative;
				left: -10px;
			}

		}

		&_cards {
			margin-top: 6px;
			position: relative;
			left: 4px;
			width: 230px;
			@media (max-width:$bp-xl) {
				width: 100%;
				left: 0;
				padding-left: 140px;
			}
			@media (max-width:$bp-lg) {
				padding-left: 160px;
			}
			@media (max-width:$bp-md) {
				padding-left: 0;
			}
			img {
				margin-bottom: 28px;
				@media (max-width:$bp-xl) {
					margin-bottom: 15px;
				}
				@media (max-width:$bp-md) {
					max-width: 100%;
				}
			}

		}

	}

}
