.c-header {
	padding: 0 30px;
	margin-bottom: 14px;
	@media (max-width:$bp-lg) {
		padding: 0 20px;
	}

	&__logo {
		width: 270px;
		margin-right: 30px;

		@media (max-width:$bp-lg) {
			width: 240px;
			margin-right: 0;
		}
		@media (max-width:$bp-md) {
			width: 180px;
		}
		@media (max-width:$bp-sm) {
			width: 150px;
		}

	}

	&__top {
		padding: 21px 0;
		display: flex;
		align-items: center;
		@media (max-width:$bp-sm) {
			justify-content: space-between;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		@media (max-width:$bp-lg) {
			align-items: flex-end;
		}
	}

	&__nav {
		margin-right: 25px;
		margin-top: 5px;

		@media (max-width:$bp-xl) {
			display: none !important;
		}

		&_mobile {
			display: none !important;
			margin-bottom: 13px;
			justify-content: space-between;

			.c-nav {
				&__item {
					font-size: 16px;

					@media (max-width:$bp-lg) {
						font-size: 13px;
					}
					@media (max-width:$bp-sm) {
						font-size: 12px;
					}

				}

			}

			@media (max-width:$bp-xl) {
				display: flex !important;
			}

		}

	}

	.c-catalog-menu {
		margin-right: 30px;
	}

	&__actions {
		margin-top: 3px;

		.c-btn {
			letter-spacing: 0.72px;
			font-size: 12px;
			@media (max-width: $bp-lg) {
			    max-width: 90px;		
			    height: 40px;
			    text-align: center;
			}
			@media (max-width:$bp-sm) {
				font-size: 10px;
			}
			@media (max-width:$bp-sm-2) {
				padding: 0 5px;
			}
		}

		.c-btn:first-child {
			margin-right: 13px;
		}

	}

}
