.c-header {
	padding: 0 30px;
	margin-bottom: 14px;
	@media (max-width:$bp-lg) {
		padding: 0 20px;
	}

	&__logo {
		width: 270px;
		margin-right: 30px;

		@media (max-width:$bp-lg) {
			width: 240px;
			margin-right: 0;
		}
		@media (max-width:$bp-md) {
			width: 180px;
		}
		@media (max-width:$bp-sm) {
			width: 150px;
		}
		@media (max-width:$bp-sm-2) {
			margin-bottom: 10px;
		}

	}
	.c-phone{
		@media (max-width:$bp-sm-2) {
			margin-bottom: 10px;
		}
	}

	&__top {
		padding: 21px 0;
		display: flex;
		align-items: center;
		@media (max-width:$bp-sm) {
			justify-content: space-between;
		}
		@media (max-width:$bp-sm-2) {
			flex-direction: column;
		}
	}

	&__bottom {
		display: flex;
		align-items: flex-end;
	}

	&__nav {
		margin-right: 25px;
		margin-top: 5px;

		@media (max-width:$bp-xl) {
			display: none !important;
		}

		&_mobile {
			display: none !important;
			margin-bottom: 13px;
			justify-content: space-between;

			.c-nav {
				&__item {
					font-size: 1rem;

					@media (max-width:$bp-lg) {
						font-size: 0.8125rem;
					}
					@media (max-width:$bp-sm) {
						font-size: 0.75rem;
					}

				}

			}

			@media (max-width:$bp-xl) {
				display: flex !important;
			}

		}

	}

	.c-catalog-menu {
		margin-right: 30px;
		&__nav{
			display: none;
			position: absolute;
		    box-shadow: 0 1px 4px 0 rgba(0,0,0,.4);
	        padding-top: 10px;
		}
	}

	&__actions {
		margin-top: 3px;
		@media (max-width:$bp-sm-2) {
			width: 100%;
		}
		.c-btn {
			letter-spacing: 0.72px;
			font-size: 0.75rem;
			@media (max-width: $bp-lg) {
			    max-width: 90px;		
			    height: 40px;
			    text-align: center;
			}
			@media (max-width:$bp-md) {
				font-size: 0.8125rem;
				line-height: 1.3;
				max-width: 80px;
			}
			@media (max-width:$bp-sm) {
				font-size: 0.625rem;
			}
			@media (max-width:$bp-sm-2) {
				padding: 0 5px;
				max-width: 100%;
				width: 100%;
			}
		}

		.c-btn:first-child {
			margin-right: 13px;
		}

	}

}
