.c-logo{
	box-shadow: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__img{
		@media (max-width:$bp-xl) {
			max-width: 100%;
		}
	}
	&__letter{
		color: #222222;
		font-family: "Open Sans";
		font-size: 1rem;
		font-weight: 400;
		display: block;
		margin-top: 10px;
		text-align: center;
		@media (max-width:$bp-md) {
			font-size: 0.8125rem;
		}
		@media (max-width:$bp-sm) {
			font-size: 0.6875rem;
			white-space: nowrap;
		}
	}
}