.c-main-categories{
	margin-bottom: 45px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
	&__item{
		min-height: 170px;
		border-radius: 3px;
		border: 2px solid #ecf2f6;
		display: flex;
		margin-bottom: 30px;
		@media (max-width: $bp-md) {
			flex-direction: column;
		}
	}
	&__item-small{
		width: 270px;
		@media (max-width: $bp-md) {
			width: 100%;
		}
	}
	&__item-big{
		width: 100%;
	}
	&__info{
		width: 270px;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		background-size: cover;
		cursor: pointer;
		&:after{
			content: '';
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,.3);
			position: absolute;
			top: 0;
			left: 0;
		}
		@media (max-width: $bp-md) {
			width: 100%;
			height: 250px;	
		}
	}
	&__link{
		margin-bottom: 6px;
	}
	&__title{
		border: 2px solid #f1f5f8;
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: 700;
		color: #fff;
		position: relative;
		z-index: 4;
		padding: 2px 10px;

	}
	&__body{
		padding: 20px 30px;
		flex: 1;
		min-height: 170px;
	}
}