.c-main-banner{
	img{
		max-width: 100%;
	}
	.swiper-pagination-bullet {
		width: 14px;
		height: 14px;
		background-color: #e9e9e6;
		opacity: 1;
		margin: 0 7px !important;
	}

	.swiper-pagination {
		bottom: 0;
	}

	.swiper-pagination-bullet-active {
		background-color: #8cafc2;
	}
}