.c-modal {
	&__header {
		height: 0;
		padding: 0;
	}

	&__dialog {
		max-width: 1140px;
	}

	&__description {
		margin-bottom: 0;
	}

	.close {
		opacity: .8;
		position: absolute;
		top: -10px;
		right: -10px;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		padding: 0;
		background: #ecf2f6 url('../img/icons/close.svg') no-repeat center center;
		@media (max-width: $bp-sm) {
			top: -15px;
			right: 10px;
		}
	}

	&__body {
		padding: 30px;
		padding-bottom: 15px;
	}

	.modal-dialog {
		margin: 0 auto;
	}

	&__subtitle{
		line-height: 1;
	}

	&_map{
		.modal-body{
			padding: 40px 10px;
			padding-bottom: 10px;
		
			@media (min-width: $bp-xl) {
				padding: 0;
			}
		}
		.modal-dialog{
			max-width: 1170px;
		}
		.close{
			right: 14px;
		    top: 15px;
		    margin: 0;
		    background-color: transparent;
		    opacity: 1;
		    background-size: contain;
		    width: 19px;
		    height: 19px;
		    z-index: 2;
		}
	}

	.modal-title {
		font-size: 18px;
		font-family: "PT Sans";
		font-weight: 700;
		text-transform: uppercase;
		color: #8cafc2;
	}

	.modal-content {
		border: 2px solid #ecf2f6;
		border-radius: 0 0 3px 3px;
		box-shadow: 0 0 16px rgba(2, 0, 0, 0.3);
	}

	.modal-footer {
		border: none;
	}

	.modal-header {
		border: none;
	}

	&_call .c-btn_secondary {
		font-size: 17px;
		font-weight: 700;
		width: 100%;
		height: 42px;
	}

	&_call .modal-dialog,
	&_contact-us .modal-dialog {
		max-width: 315px;
	}


	&_contact-us .c-form__field{
		margin-bottom: 6px;
		&_textarea{
			resize: none;
		}
	}

	&_form{
		.modal-dialog{
			max-width: 360px;
		}

		.close{
			width: 19px;
			height: 19px;
			right: 10px;
			top: 17px;
			margin: 0;
			background-size: contain;
			opacity: 1;
		}
		
		.modal-header{
			height: auto;
			justify-content: center;
			padding: 30px 0;
		    background: #ecf2f6;
		    position: relative;
		    padding-top: 40px;
		}

		.modal-title{
			font-size: 1.625rem;
			color: #222;
			text-transform: none;
			font-weight: normal;
		}

		.modal-body{
			padding: 25px 36px;
			padding-bottom: 40px;
		}
	}

}

.modal-backdrop {
	background-color: #8cafc2;
}
