.c-nav {
	display: flex;
	@media (max-width:$bp-sm-2) {
		flex-wrap: wrap;
	}
	&__item {
		text-transform: uppercase;
		color: #222222;
		font-family: "PT Sans";
		font-size: 0.875rem;
		font-weight: 400;
		box-shadow: none;
		&:hover{
			color: #222;
		}
		@media (max-width:$bp-sm-2) {
			white-space: nowrap;
			margin-bottom: 10px;
		}
		&:not(:last-child) {
			margin-right: 23px;

			@media (max-width:$bp-sm) {
				margin-right: 13px;
			}

		}

	}

}
