.c-nav {
	display: flex;

	&__item {
		text-transform: uppercase;
		color: #222222;
		font-family: "PT Sans";
		font-size: 14px;
		font-weight: 400;
		box-shadow: none;
		@media (max-width:$bp-sm-2) {
			white-space: nowrap;
		}
		&:not(:last-child) {
			margin-right: 23px;

			@media (max-width:$bp-sm) {
				margin-right: 13px;
			}

		}

	}

}
