.c-navbar-product {
	display: flex;
	padding: 15px 0;
	padding-right: 10px;

	&__body {
		max-width: 230px;
		padding-right: 20px;
	}

	&__footer {
		display: flex;
		align-items: center;
	}

	&__img {
		margin-right: 10px;
		width: 85px;
		height: 85px;
		background: #fff;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@media (max-width:$bp-sm-2) {
			height: 65px;
		}

	}

	&__title {
		font-size: 0.8125rem;
		color: #6493ad;
		font-family: $ff-secondary;
		line-height: 22px;
		text-transform: uppercase;
	}

	&__price {
		font-size: 1rem;
		margin-right: 5px;

		&:after {
			content: 'a';
			display: inline-block;
			margin-left: 5px;
			font-family: 'Rubl';
			text-transform: lowercase;
		}

	}

	&__close {
		width: 25px;
		height: 25px;
		border: 1px solid #c3d5e0;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		flex-shrink: 0;

		&:hover{
			border-color: #d92310;
			svg{
				fill: #d92310;
			}
		}
		svg{
			width: 11px;
			height: 10px;
		}
	}

}
