.c-navbar-wrap{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99999;
}
.c-navbar-scrolled{
	.c-navbar{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 0;
		&__item{
		    height: 100%;
		    width: 33.33% !important;
		}
	}
	// display: none;
}
.c-navbar {
	background-color: #ecf2f6;
	display: flex;
	height: 35px;
	padding-right: 30px;

	@media (max-width:$bp-lg) {
		padding-right: 20px;
	}

	&__txt {
		@media (max-width:$bp-xl) {
			display: none;
		}

	}

	&__link {
		font-size: 12px;
		@media (max-width: $bp-sm) {
			font-size: 10px;
		}
	}

	&__btn {
		font-size: 12px !important;
		display: flex;
		align-items: center;
		color: #222222;
		box-shadow: none;

		&:hover {
			color: #222222;
		}

		@media (max-width:$bp-lg) {
			font-size: 11px !important;
		}
		@media (max-width: $bp-sm) {
				font-size: 9px !important;
			}

	}

	&__btn-icon {
		margin-right: 13px;

		@media (max-width:$bp-xl) {
			margin-right: 33px;
		}

		@media (max-width:$bp-lg) {
			margin-right: 7px;
		}

	}

	&__counter {
		width: 23px;
		height: 23px;
		background-color: #f1ca49;
		display: block;
		border-radius: 50%;
		color: #fff;
		display: flex;
		text-align: center;
		justify-content: center;
		text-align: center;
		text-decoration: none;
		margin: 0 5px;
		line-height: 22px;

		&.is-empty {
			background-color: #d8e4ea;
			color: #222222;
		}

		@media (max-width:$bp-lg) {
			width: 21px;
			height: 21px;
			margin: 0 9px;
		}

		@media (max-width:$bp-md) {
			margin: 0;
		}

	}
	
	&__catalog-btn{
		display: none;
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 0.64px;
		line-height: 35px;
		background-color: #8cafc2;
		color: #fff;
		width: 25%;
		text-align: center;

		@media (max-width:$bp-md) {
				display: block;
			}
		@media (max-width: $bp-sm) {
			width: 22%;
			font-size: 11px;
		}
	}
	
	&__item-phone {
		font-size: 17px;
		font-weight: 700;
		margin-right: 40px;
	}
	&__logo{
		max-width: 95px;
		margin-left: 30px;
		margin-right: 30px;
	}
	&__actions-container{
		flex-grow: 1;
		margin-left: 100px;
		height: 100%;
	}
	&__item-call{
		border-radius: 3px;
		border: 1px solid #6493ad;
		font-size: 12px;
		text-transform: uppercase;
		color: #6493ad;
	    padding: 6px 20px;
	}
	&__item {
		color: #6493ad;
		text-transform: uppercase;
		font-size: 12px;
		display: flex;
		align-items: center;
		background-image: linear-gradient(to right, rgba(114, 155, 178, 0.17) 0%, rgba(0, 0, 0, 0) 100%);
		
		&:nth-of-type(1), &:nth-of-type(2) {
			width: 19.5%;
		}

		&:nth-of-type(1) {
			padding-left: 30px;

			@media (max-width:$bp-xl) {
				width: 40%;
			}

			@media (max-width:$bp-lg) {
				padding-left: 20px;
				width: 54%;
			}
			@media (max-width:$bp-md) {
				width: 32%;
				span{
					display: none;
				}
			}
			@media (max-width: $bp-sm) {
				padding-left: 0;
				justify-content: center;
				width: 36%;
			}


		}

		&:nth-of-type(2) {
			padding-left: 17px;

			@media (max-width:$bp-xl) {
				display: none;
			}

		}

		&:nth-of-type(4) {
			width: 17%;
			padding-left: 15px;

			@media (max-width:$bp-lg) {
				padding-left: 16px;
			}
			@media (max-width: $bp-lg) {
				padding-left: 24px;
			}
			@media (max-width:$bp-md) {
				display: none;
			}

		}
		&:nth-of-type(3){
			@media (max-width:$bp-md) {
				display: none;
			}
		}

		&:nth-of-type(3), &:nth-of-type(5) {
			width: 17.8%;
			padding-left: 15px;

			@media (max-width:$bp-xl) {
				width: 17%;
			}

		}

		&:nth-of-type(5) {
			width: 16%;

			@media (max-width:$bp-xl) {
				width: 17%;
			}
			@media (max-width: $bp-sm) {
				padding-left: 0;
				justify-content: center;
				width: 20%;
			}

		}

		&:nth-of-type(5) .c-navbar__btn-icon {
			margin: 0;

			@media (max-width:$bp-xl) {
				margin-right: 23px;
			}
			@media (max-width:$bp-lg) {
				margin-right: 0;
			}

		}

		&:last-child {
			white-space: nowrap;
			background: none;
			@media (max-width:$bp-xl) {
				width: 15%;
				justify-content: flex-end;
			}
			@media (max-width: $bp-lg) {
				width: 23%;
			}
			@media (max-width: $bp-md) {
				width: 26%;
			}
			@media (max-width: $bp-sm) {
				width: 32%;
			}

		}

	}

}
