.c-navbar-wrap{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}

.c-navbar {
	background-color: #ecf2f6;
	display: flex;
	height: 35px;
	$parent: &;

	// @media (max-width:$bp-lg) {
	// 	padding-right: 20px;
	// }

	// @media (max-width:$bp-sm-2) {
	// 	padding-right: 5px;
	// }

	// &__txt {
	// 	@media (max-width:$bp-sm-2) {
	// 		display: none;
	// 	}

	// }
	// 
	&__total-price{
		&:after{
			display: inline;
		}
	}

	&__link {
		font-size: 0.75rem;
		line-height: 1.5;
		// @media (max-width: $bp-sm) {
		// 	font-size: 0.625rem;
		// }
	}

	&__btn {
		font-size: 0.75rem !important;
		display: flex;
		align-items: center;
		color: #222222;
		box-shadow: none;
		width: 100%;
		height: 100%;
		position: relative;

		&:after{
			display: none;
		}

		&[aria-expanded="true"]{
		    box-shadow: -2px -2px 9px rgba(2, 0, 0, 0.34);
		}
		&:hover {
			color: #222222;
			.dropdown-menu{
				display: block;
			}
		}
		
		// @media (max-width:$bp-lg) {
		// 	font-size: 0.6875rem !important;
		// }
		// @media (max-width: $bp-sm) {
		// 	font-size: 0.5625rem !important;
		// }

		#{$parent}__item_cart &{
			padding-right: 15px;
			padding-left: 18px;
		}

	}

	&__btn-icon {
		margin-right: 8px;

		// @media (max-width:$bp-xl) {
		// 	margin-right: 33px;
		// }

		@media (max-width:$bp-sm-2) {
			width: 14px;
		}

	}

	&__counter {
		display: block;
		display: flex;
		text-align: center;
		justify-content: center;
		text-align: center;
		text-decoration: none;
		margin: 0 3px;
		padding: 0 5px;

		&.is-empty {
			background-color: #d8e4ea;
			color: #222222;
		}

	}
	
	&__catalog-btn{
		display: none;
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: 0.64px;
		line-height: 35px;
		background-color: #8cafc2;
		color: #fff;
		width: 25%;
		text-align: center;

		@media (max-width:$bp-md) {
				display: block;
			}
		@media (max-width: $bp-sm) {
			width: 22%;
			font-size: 0.9rem;
		}

		@media (max-width: $bp-sm-2) {
			width: 30%;
		}
	}
	
	&__item-phone {
		font-size: 1.4rem;
		font-weight: 700;
		margin-right: 40px;

		@media (max-width: $bp-xl) {
			font-size: 1.2rem;
		}

		@media (max-width: $bp-lg) {
			font-size: 1rem;
		}

		@media (max-width: $bp-md) {
			font-size: 0.9375rem;
			margin-right: 10px;
		}

		@media (max-width: $bp-sm) {
			display: none;
		}
	}
	&__logo{
		max-width: 95px;
		margin-left: 30px;
		margin-right: 30px;
	}
	&__actions-container{
		flex-grow: 1;
		margin-left: 100px;
		height: 100%;
		@media (max-width: $bp-md) {
			margin-left: 0;
		}
	}
	&__item-call{
		border-radius: 3px;
		border: 1px solid #6493ad;
		font-size: 0.75rem;
		text-transform: uppercase;
		color: #6493ad;
	    padding: 6px 20px;
	    @media (max-width: $bp-lg) {
	    	display: none;
	    }
	}
	&__item {
		color: #6493ad;
		text-transform: uppercase;
		font-size: 0.75rem;
		display: flex;
		align-items: center;
		background-image: linear-gradient(to right, rgba(114, 155, 178, 0.17) 0%, rgba(0, 0, 0, 0) 100%);
		position: relative;

		&_cart{
			background: #f1ca49;
		}

		.dropdown-menu {
			background-color: #fff;
			border: none;
			border-radius: 0;
			margin-top: 0;
			padding: 5px 30px;
			padding-bottom: 0;
			box-shadow: 1px 4px 16px rgba(2, 0, 0, 0.34);
			right: 0 !important;
			left: auto !important;
			top: 35px !important;
			width: 100vw;
			transform: none !important;

			@media (min-width: $bp-sm) {
				width: 400px;
			}
			
			&__body {
				max-height: 600px;
				overflow: auto;

				&::-webkit-scrollbar {
					width: 7px;
				}

				&::-webkit-scrollbar-track {
					background-color: #e4edf2;
				}

				&::-webkit-scrollbar-thumb {
					background-color: #8cafc2;
				}

			}

			&__footer {
				margin: 0 -30px;
				padding-left: 30px;
				background: #e9f0f4;
			    text-transform: none;
				min-height: 50px;

				.c-btn {
					height: auto;
					border-radius: 0;
					font-weight: 700;
					padding: 0 15px;
					color: initial;
					font-size: 0.875rem;
					flex-shrink: 0;
				}

			}

		}
		&:nth-of-type(1), &:nth-of-type(2) {
			width: 19.5%;
		}

		&:nth-of-type(1) {
			padding-left: 30px;

			@media (max-width:$bp-xl) {
				width: 40%;
			}

			@media (max-width:$bp-lg) {
				padding-left: 20px;
				width: 54%;
			}
			@media (max-width:$bp-md) {
				width: 32%;
				span{
					display: none;
				}
			}
			@media (max-width: $bp-sm) {
				padding-left: 0;
				justify-content: center;
				width: 36%;
			}

			@media (max-width: $bp-sm-2) {
				width: 45%;
			}


		}

		&:nth-of-type(2) {
			padding-left: 17px;

			@media (max-width:$bp-xl) {
				display: none;
			}

		}

		&:nth-of-type(4) {
			width: 17%;
			padding-left: 15px;

			@media (max-width:$bp-lg) {
				padding-left: 16px;
			}
			@media (max-width: $bp-lg) {
				padding-left: 24px;
			}
			@media (max-width:$bp-md) {
				display: none;
			}

		}

		// &:nth-of-type(3){
		// 	@media (max-width:$bp-md) {
		// 		display: none;
		// 	}
		// }

		&:nth-of-type(3) {
			// width: 17.8%;
			// padding-left: 15px;

			// @media (max-width:$bp-xl) {
			// 	width: 17%;
			// }

		}

		&:nth-of-type(5) {
			width: 16%;

			@media (max-width:$bp-xl) {
				width: 17%;
			}
			@media (max-width: $bp-sm) {
				padding-left: 0;
				justify-content: center;
				width: 20%;
			}
			@media (max-width: $bp-sm-2) {
				width: 30%;
			}

		}

		&:nth-of-type(5) .c-navbar__btn-icon {
			margin: 0;

			@media (max-width:$bp-xl) {
				margin-right: 23px;
			}
			@media (max-width:$bp-lg) {
				margin-right: 0;
			}

		}

		&_cart{

			@media (max-width:$bp-sm-2) {
				width: 38%;
			}

		}

	}

}

.c-navbar-scrolled{
	display: none;
	.c-navbar{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 0;
		&__logo{
			@media (max-width: $bp-sm-2) {
				max-width: 65px;
				margin-right: 10px;
				margin-left: 10px;
			}
		}
		&__item{
		    white-space: normal !important;
		    height: 100%;
		    padding-left: 0 !important;
		    width: auto;

		    &:nth-of-type(2),
		    &:nth-of-type(3){
		    	display: block;
		    }

		}
		&__btn{
			width: 100%;
			height: 100%;

			&:after{
				display: none;
			}
			&[aria-expanded="true"]{
			    box-shadow: -2px -2px 9px rgba(2, 0, 0, 0.34);
			}

			
		}
	}
	// display: none;
}
