.c-number-counter{
	display: flex;
	align-items: center;

	&__field{
		max-width: 44px;
		min-width: initial;
		margin: 0 10px;
		font-size: 1.125rem;
		padding: 0 10px;
		text-align: center;
		
		.c-table_basket &{
			height: 30px;
		}

		&::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
		    -webkit-appearance: none;
		    margin: 0;
		}
	}

	&__action{
		width: 17px;
		height: 17px;
		display: block;
		cursor: pointer;
		flex-shrink: 0;

		&_up{
			position: relative;
			background: url('../img/icons/plus2.svg') center center no-repeat;
			background-size: contain;
		}
		&_down{
			position: relative;
			background: url('../img/icons/minus2.svg') center center no-repeat;
			background-size: contain;
		}
	}
}