.c-offer {
	border-radius: 3px;
	background-color: #3e7ce3;
	font-family: "Open Sans";
	font-weight: 700;
	letter-spacing: 0.28px;
	text-transform: uppercase;
	font-size: 0.875rem;
	color: #fff;
	margin: 10px 0;
	text-align: center;
	padding: 13px 65px;
	@media (max-width:$bp-sm-2) {
		padding: 13px 15px;
	}
}
