.c-our-brands{
	border: 2px solid #ecf2f6;
	@media (max-width: $bp-md) {
		width: calc(100% + 48px);
	    margin-left: -24px;
	    padding-bottom: 70px;
	}
	.swiper-pagination-bullet {
		width: 14px;
		height: 14px;
		background-color: #e9e9e6;
		opacity: 1;
		margin: 0 7px !important;
	}

	.swiper-pagination {
		bottom: 20px;
	    width: calc(100% - 40px);
	}

	.swiper-pagination-bullet-active {
		background-color: #8cafc2;
	}
	.swiper-container{
		padding: 45px 0;
	}
	&__title{
	    text-transform: uppercase;
		font-size: 1.125rem;
		font-weight: 700;
	}
	&__header{
		padding-top: 15px;
		@media (max-width: $bp-md) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	&__product{
		&:after{
			display: none !important;
		}
	}
	.swiper-button-prev{
		left: -20px;
	}
	.swiper-button-prev,
	.swiper-button-next{
		background: #fff url(../img/icons/right-arrow.svg) no-repeat center center;
	    background-size: 50%;

		border: 2px solid #ecf2f6;
	    right: -20px;
	}
}