.o-page__container_special .o-page__sidebar h3 {
    font-family: $ff-secondary;
    font-size: 18px;
    margin-bottom: 30px;
}

.o-page__container_special .o-page__sidebar a.list-group-item:hover {
    background: transparent;
}

.o-page__container_special .o-page__sidebar a.list-group-item {
    border: 0;
    color: #6493ad;
    font-size: 16px;
    display: flex;
    padding: 12px 0;
    box-shadow: none;
}

.o-page__container_special .o-page__sidebar .list-group-item.active {
background: transparent;
    color: #6493ad;
}

.o-page__container_special .o-page__sidebar a.list-group-item span:nth-child(1) {
    width: 22px;
    height: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #8cafc2;
    font-size: 14px;
    border-radius: 50%;
    margin-right: 20px;
    background: #eef3f7;
}

.o-page__container_special .o-page__sidebar .list-group-item:hover span:nth-child(1), .o-page__container_special .o-page__sidebar .list-group-item.active span:nth-child(1) {
    background: #8cafc2;
    color: #fff;
}

.o-page__container_special .o-page__sidebar a.list-group-item span:nth-child(2) {
line-height: normal;
width: calc(100% - 42px);
}

.o-page__container_special .o-page__body h3 {
    font-size: 23px;
    font-family: $ff-secondary;
    margin-bottom: 40px;
}

.o-page__container_special .o-page__body .scroll-block {
    padding-bottom: 35px;
    border-bottom: 1px solid #e4edf2;
    margin-bottom: 40px;
}

.o-page__container_special .o-page__body ol {
    list-style: none;
    padding-left: 0;
}

.o-page__container_special .o-page__body ol li {
    margin-bottom: 15px;
}

.o-page__container_special .o-page__body ol li span.number-span {
    width: 22px;
    height: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 50%;
    margin-right: 20px;
    background: #eef3f7;
}

.o-page__container_special .o-page__body ul {
    list-style: none;
    padding-left: 0;
}

.o-page__container_special .o-page__body ul li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 15px;
}

.o-page__container_special .o-page__body ul li:after {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #000;
    content: "";
    left: 7px;
    position: absolute;
    top: 10px;
}

.o-page__container_special .o-page__body img {
    width: 100%;
}