.c-pagination{
	display: flex;
	align-items: center;
	&__nav{
		display: block;
		width: 30px;
		height: 30px;
		background: url('../img/icons/right-arrow.svg') center center no-repeat;
		background-size: 55%;
		box-shadow: none;
		border: 2px solid #ecf2f6;
		border-radius: 50%;
		&_left{
			transform: scaleX(-1);
		}
	}
	&__pages{
		display: flex;
		align-items: center;
		margin: 0 12px;
	}
	&__page{
		width: 30px;
		height: 30px;
		color: #222;
		display: block;
		text-align: center;
		line-height: 27px;
		font-size: 0.875rem;
		border: 2px solid #ecf2f6;
		box-shadow: none;
		margin: 0 7px;
		border-radius: 50%;
		&.is-active{
			background-color: #8cafc2;
			color: #fff;
		}
	}
}