.c-phone{
	color: #222222;
	font-size: 1.3125rem;
	font-weight: 700;
	text-align: center;
	box-shadow: none;
	margin-top: 15px;
	margin-right: auto;
	&:hover{
		color: #222;
	}
	@media (max-width: $bp-xl) {
		margin-left: 20px;
	}
	@media (max-width: $bp-lg) {
		margin-top: 0;
		font-size: 1.125rem;

	}
	@media (max-width:$bp-sm) {
		margin: 0 10px;
		white-space: nowrap;
		font-size: 0.875rem;
	}
	@media (max-width:$bp-sm-2) {
		margin: 0 5px;
	}
	&__text{
		margin-top: 4px;
		font-size: 0.8125rem;
		font-weight: 400;
		@media (max-width:$bp-sm) {
			font-size: 0.625rem;
		}
	}
}