.c-phone{
	color: #222222;
	font-size: 21px;
	font-weight: 700;
	text-align: center;
	box-shadow: none;
	margin-top: 15px;
	margin-right: auto;
	@media (max-width: $bp-xl) {
		margin-left: 20px;
	}
	@media (max-width: $bp-lg) {
		margin-top: 0;
		font-size: 18px;

	}
	@media (max-width:$bp-sm) {
		margin: 0 10px;
		white-space: nowrap;
		font-size: 14px;
	}
	&__text{
		margin-top: 4px;
		font-size: 13px;
		font-weight: 400;
		@media (max-width:$bp-sm) {
			font-size: 10px;
		}
	}
}