.c-preview-product {
	.c-modal{
		&__header{
			position: relative;
			z-index: 200;
		}
	}
	.close{
		@media (max-width: $bp-xl) {
		    top: 20px;
		    right: 20px;
		}

		@media (max-width: $bp-sm) {
			width: 30px;
			height: 30px;
			background-size: 45%;
		}
	}
	&__description-body {
		font-family: $ff-primary;
		font-size: 0.8125rem;
		line-height: 23px;

		h5 {
			font-weight: bold;
			margin-bottom: 5px;
			font-size: 0.8125rem;
		}

		p {
			margin-bottom: 27px;
		}

		&.c-read-more {
			max-height: 420px;
			position: relative;

			&.is-active {
				max-height: 800px;
			}

		}

	}

	&__description-title {
		font-family: $ff-secondary;
		font-size: 1.1875rem;
		margin-bottom: 16px;
	}

}
