.c-product-description {
	border-radius: 3px;
	border: 2px solid #e4edf2;
	position: relative;
	margin-bottom: 48px;
	 @media (max-width:$bp-sm-2) {
	 	margin-bottom: 30px;
	 }

	&__title {
		font-family: "Roboto Slab";
		font-size: 23px;
		text-align: center;
		position: absolute;
		left: 50%;
		transform: translate(-50%,-50%);
		background-color: #fff;
		padding: 0 25px;
		display: flex;
		align-items: center;
		&:after{
			right: 0;
		}
		&:before{
			left: 0;
		}
		&:after,
		&:before{
			content: '';
			display: block;
			width: 10px;
			height: 10px;
			background-color: #e4edf2;
			border-radius: 50%;
			position: absolute;
		}
		@media (max-width:$bp-md) {
			width: 60%;
			justify-content: center;
		}
		@media (max-width:$bp-sm-2) {
			width: 70%;
			font-size: 19px;
		}
	}

	&__body {
	    padding: 46px 60px;
		text-align: center;
		font-family: "Open Sans";
		font-size: 15px;
	    padding-bottom: 37px;
	    @media (max-width:$bp-md) {
	    	padding: 35px 30px;
	    }
	    @media (max-width:$bp-sm-2) {
	    	padding: 35px 15px;
	    	font-size: 13px;
	    }
		p{
			margin-bottom: 26px;
			&:last-child{
				margin-bottom: 8px;
			}
		}
		h5{
			font-size: 15px;
			font-weight: bold;
			margin-bottom: 3px;
			 @media (max-width:$bp-sm-2) {
			 	font-size: 13px;
			 }

		}
	}

}
