.c-product {
	&__header {
		margin-bottom: 24px;
		@media (max-width:$bp-sm) {
			margin-bottom: 12px;
		}
	}

	&__info{
		padding: 17px 30px;
		border: 1px solid #8cafc2;
		margin-bottom: 13px;
	}

	&__loan{
		display: flex;
		align-items: flex-start;
		padding: 20px 30px;
		font-size: 0.875rem;
		border: 1px solid #8cafc2;
		line-height: 1.2;
	}

	&__meta{
		display: flex;
		align-items: center;
		font-size: 0.875rem;
		line-height: 1.4;

		&_loan{
			img{
				max-width: 23px;
			}
		}

		&:not(:last-child){
			margin-bottom: 14px;
		}
	}

	&__title {
		font-family: $ff-secondary;
		font-size: 1.4375rem;

		@media (max-width:$bp-xl) {
			margin-bottom: 35px;
		}

		@media (max-width:$bp-md) {
			margin-bottom: 16px;
		}

	}

	&__action {
		box-shadow: none;
		color: #222222;
		text-transform: uppercase;
		font-size: 0.75rem;

		&:not(:last-child) {
			margin-right: 30px;
			@media (max-width:$bp-md) {
				margin-right: 5px;
			}
		}
		// span{
		// 	@media (max-width:$bp-md) {
		// 		display: none;
		// 	}
			
		// }

	}

	&__action-icon {
		max-width: 18px;
		margin-right: 10px;
	}

	&__order-info {
		padding: 30px 0;
		border-radius: 3px;
		background-color: #ecf2f6;
		border: 2px solid #e4edf2;

		@media (max-width:$bp-xl) {
			padding: 32px 0;
			margin-bottom: 30px;
		}

		@media (max-width:$bp-xl) {
			padding: 16px 0;
		}

		&_mobile{
		    cursor: default;
		    position: fixed;
		    bottom: 0;
		    z-index: 240;
		    margin: 0;
		    display: flex;
		    align-items: center;

		    @media (min-width: $bp-md) {
				display: none !important;
		    }
		}

		.c-product__choosen {
			@media (max-width:$bp-xl) {
				margin-bottom: 20px;
			}
			@media (max-width:$bp-sm-2) {
				margin-bottom: 10px;
			}

		}

	}
	&__order-info-inner {
		@media (max-width:$bp-sm-2) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
	&__choosen {
		margin-top: 3px;
		font-family: $ff-secondary;
		display: flex;
		align-items: flex-end;
		line-height: 1;
		margin-bottom: 20px;
		font-size: 1.125rem;

		@media (max-width:$bp-lg) {
			margin-top: 0;
		}

	}

	&__code{
		padding: 0 30px;
		background: #fff;
		border-radius: 20px;
		height: 40px;
		margin-bottom: 8px;
		font-size: 0.875rem;
	}

	&__choosen-count {
		margin-left: 6px;
		font-size: 1.125rem;
		line-height: 1.1;
	}

	&__price {
		font-family: $ff-secondary;
		line-height: 27px;
		display: flex;
		align-items: center;
		// text-transform: uppercase;
		line-height: 1.7;
		margin-bottom: 15px;

	}

	&__price-number {
		font-family: $ff-secondary;
		font-size: 1rem;
		text-transform: initial;

		&:after {
			content: 'a';
			display: inline-block;
			margin-left: 7px;
			font-family: 'Rubl';
		}

		&_old {
			position: relative;
		    margin-bottom: -5px;

			&:before{
			    content: '';
			    position: absolute;
			    top: 50%;
			    left: 0;
			    width: 100%;
			    height: 1px;
			    background: #333;
			}
			&:after {
				// display: none;
			}

		}

		&_new {
			font-size: 1.875rem;
			line-height: 1;
			color: #f3932c;
		}

	}

	&__order-actions{
		width: 100%;
		max-width: 235px;
	}

	&__order-action{
		width: 100%;
		max-width: 235px;
		color: #222;
		font-weight: bold;
		height: 45px;
		font-size: 0.9375rem;
		border-radius: 2px;
		box-shadow: 0 0 14px 4px rgba(0,0,0,0.15);
	    letter-spacing: 3px;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}


	&__order-checkout-inner{
		@media (max-width:$bp-sm-2) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__order-checkout-top-close{
		position: absolute;
		display: none;
		width: 15px;
		height: 15px;
		position: absolute;
		right: 5px;
		top: 5px;
		background: url('../img/icons/close.png') no-repeat;
		background-size: contain;
		cursor: pointer;
	}
	&__order-checkout {
		position: relative;
		margin-bottom: 70px;
		border-radius: 3px;
		border: 2px solid #e4edf2;
		@media (max-width:$bp-md) {
			margin-left: -20px;
			width: calc(100% + 40px);
		}
	
		&_fixed {
			cursor: default;
			position: fixed;
			bottom: 0;
			z-index: 240;
			margin: 0;

			@media (max-width:$bp-lg) {
				margin-left: -20px;
			}

			.c-product__order-checkout-top {
				cursor: default;
			}

		}

		.c-product__price {
			margin-left: 0;
			@media (max-width:$bp-sm-2) {
				margin-right: 0;
				margin-bottom: 10px;
			}
		}

		.c-product__choosen {
			margin-top: 0;

			@media (max-width:$bp-xl) {
				font-size: 0.9375rem;
			}

		}

		.c-product__price-number {
			margin-left: 8px;
		}

		.c-product__choosen-count {
			margin-left: 15px;

			@media (max-width:$bp-xl) {
				font-size: 1rem;
			}

		}

		.c-product__order-actions .c-btn:not(:last-child) {
			margin-right: 15px;

			@media (max-width:$bp-xl) {
				margin-right: 10px;
			}

		}

		.c-product__order-actions .c-btn {
			height: 32px;
		}

	}


	&__order-checkout-top {
		cursor: pointer;
		display: flex;
		align-items: center;
		background-color: #ecf2f6;
		height: 65px;
		padding-left: 40px;
		padding-right: 32px;
		&[aria-expanded="true"] > &-close{
			display: block;
		}
		@media (max-width:$bp-xl) {
			padding-left: 15px;
			padding-right: 15px;
			height: auto;
			padding: 10px 0;
		}
		@media (max-width:$bp-lg) {
			padding: 10px 30px;
		}

		@media (max-width:$bp-md) {
			height: 100px;
			padding: 10px 0;
		}

		@media (max-width:$bp-sm-2) {
			height: 110px;
		}


	}

}
