.c-product {
	&__header{
		margin-bottom: 24px;
	}
	&__title {
		font-family: "Roboto Slab";
		font-size: 23px;
	}
	&__action{
		box-shadow: none;
		color: #222222;
		text-transform: uppercase;
		font-size: 12px;
		&:not(:last-child){
			margin-right: 30px;
		}
	}
	&__action-icon{
		max-width: 18px;
		margin-right: 10px;
	}
	
	&__order-info{
		padding: 17px 0;
		padding-left: 33px;
		padding-right: 23px;
		border-radius: 3px;
		background-color: #ecf2f6;
	}
	&__choosen{
		margin-top: 3px;
		font-family: "Roboto Slab";
		text-transform: uppercase;
	}
	&__choosen-count{
		margin-left: 6px;
	}
	&__price{
		margin-top: 3px;
		    margin-left: -8px;
    line-height: 27px;
		height: 27px;
		display: flex;
		align-items: flex-end;
	}
	&__price-number{
		margin-left: 10px;
		font-family: "Roboto Slab";
		&:after{
			content: 'a';
			display: inline-block;
			margin-left: 7px;
			font-family: 'Rubl';
		}
		&_old{
			text-decoration: line-through;
			&:after{
				display: none;
			}
		}
		&_new{
			font-size: 30px;
			line-height: 1.3;
			color: #f3932c;
		}
	}

	&__order-actions{
		.c-btn{
			height: 34px;
			padding: 0 12px;
			&:not(:last-child){
				margin-right: 18px;
			}
		}
	}

}
