.c-product-info {
	&__code {
		height: 36px;
		background-color: #ecf2f6;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 10px;
	}

	&__collapse-toggle {
		height: 36px;
		border-radius: 3px;
		border: 2px solid #ecf2f6;
		width: 100%;
		text-transform: uppercase;
		letter-spacing: 1.05px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
		font-size: 14px;
		margin-top: 10px;
	}

	&__showroom {
		background-color: #ecf2f6;
		height: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.35px;
		position: relative;

		@media (max-width:$bp-sm) {
			font-size: 12px;
		}
		&:hover:after,
		&.is-active:after{
			background-image: url('../img/icons/exclamation-white.png');	
		}
		&:after {
			content: '';
			display: block;
			width: 18px;
			height: 18px;
			background: url('../img/icons/exclamation.png') no-repeat center center;
			margin-left: 10px;
		}

	}

	&__showroom.is-active &__showroom-text {
		opacity: 1;
	}

	&__showroom-text {
		position: absolute;
		background-color: #fff;
		transform: translateY(-100%);
		z-index: 22;
		opacity: 0;
	}

	&__description {
		padding-left: 30px;
		font-size: 14px;
		margin-bottom: 30px;

		@media (max-width:$bp-lg) {
			margin-bottom: 10px;
		}

		@media (max-width:$bp-sm) {
			padding-left: 0;
		}

		.c-table {
			@media (max-width:$bp-lg) {
				width: 100%;
				left: 0;
			}

		}

		td {
			&:first-child {
				width: 51%;
			}

			padding: 7px 0;
		}

	}

	&__action-inner {
		flex-basis: 60%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	&__actions {
		padding-left: 30px;

		@media (max-width:$bp-lg) {
			padding-left: 0;
			margin-bottom: 10px;
		}

	}

	&__action-container {
		@media (max-width:$bp-sm-2) {
			flex: 0 0 100%;
			max-width: 100%;
		}

	}

	&__action {
		height: 37px;
		background-color: #ecf2f6;
		margin-bottom: 10px;
		width: 91%;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		box-shadow: none;
		font-size: 12px;
		color: #222222;
		padding-left: 14%;

		@media (max-width:$bp-xl) {
			padding-left: 0;
		}

		@media (max-width:$bp-lg) {
			width: 100%;
			padding-left: 15%;
		}

		@media (max-width:$bp-md) {
			padding-left: 0;
		}

		@media (max-width:$bp-sm) {
			font-size: 10px;
		}

		@media (max-width:$bp-sm-2) {
			padding-left: 10%;
		}

	}

	&__action-icon {
		margin: 0 auto;
		display: block;

		@media (max-width:$bp-sm) {
			max-width: 100%;
		}

	}

	&__action-icon-wrap {
		width: 50px;
		margin-right: 9px;

		@media (max-width:$bp-sm) {
			width: 30px;
		}

	}

	&__action-text {
		white-space: nowrap;
	}

}
