.c-product-card {
	&__info {
		display: flex;
		flex-direction: column;
	}

	&__img-wrap {
		width: 115px;
		height: 115px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #ecf2f6;
		border-radius: 3px;
		position: relative;
		background-color: #fff;
		@media (max-width:$bp-xl) {
			width: 95px;
			height: 95px;
		}
		@media (max-width:$bp-sm-2) {
			width: 75px;
		}

	}
	
	&__show-description{
		font-style: italic;
		display: inline-block;
	}

	&__title {
		font-size: 0.9375rem;
		text-transform: uppercase;
		color: #6493ad;
		font-family: "Open Sans";
		display: inline-block;
		margin-bottom: 10px;
		@media (max-width:$bp-md) {
			pointer-events: none;
		}

	}

	&__subtitle {
		margin-top: 1px;
		margin-bottom: 2px;
		text-transform: uppercase;
		font-size: 0.75rem;
	}

	&__size {
		font-size: 0.8125rem;
		display: inline-block;
		margin-bottom: 10px;
	}

	&__btn {
		float: right;
		height: 34px;
		border-radius: 3px;
		background-color: #8cafc2;
		padding: 0 15px;
	    letter-spacing: 0.72px;
	    font-size: 0.9375rem;
	    font-weight: bold;
	}

	&__sale {
		position: absolute;
		right: 4px;
		top: 7px;
		font-family: "Roboto Slab";
		font-size: 0.875rem;
		font-weight: 700;
		letter-spacing: 0.59px;
		color: #fff;
		width: 34px;
		height: 34px;
		background: #000;
		text-align: center;
		line-height: 34px;
		border-radius: 50%;
	}

	&__price {
		font-family: "Roboto Slab";
		font-size: 1.375rem;
		line-height: 1.2;

		&:after {
			content: 'a';
			display: inline-block;
			margin-left: 5px;
			font-family: 'Rubl';
		}

		&_old {
			position: relative;
			font-size: 1.1rem;
			&:before{
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 3px;
				background: #f3932c;
				transform: rotate(10deg);
				top: 9px;
			}
			@media (max-width:$bp-md) {
				margin-right: 10px;
			}
			@media (max-width:$bp-sm-2) {
				margin-right: 5px;
			}
		}

		&_new {
			color: #f3932c;
			font-size: 1.375rem;
			font-weight: bold;
		}

	}

}
