.c-product-card {
	position: relative;

	&__info {
		display: flex;
		flex-direction: column;
	}

	&__img {
		box-shadow: none;
	}

	&__header {
		display: flex;
		justify-content: flex-start;
		margin-bottom: 10px;
		align-items: center;
		@media (max-width:$bp-md) {
			display: block;
		}
	}

	&__img-wrap {
		width: 115px;
		height: 115px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #ecf2f6;
		border-radius: 3px;
		position: relative;
		background-color: #fff;

		@media (max-width:$bp-xl) {
			width: 95px;
			height: 95px;
		}

		@media (max-width:$bp-sm-2) {
			width: 75px;
		}

	}
	
	&__remove-btn{
		width: 13px;
		height: 13px;
		background: url('../img/icons/close.png') center center no-repeat;
		background-size: contain;
		display: block;
	}

	&_basket &__img-wrap {
		width: 150px;
		height: 150px;
		@media (max-width: $bp-md) {
			height: 100px;
			width: 100px;
		}
		@media (max-width: $bp-sm-2) {
			width: 80px;
			height: 80px;
		}
	}

	&_basket &__img{
		width: 100%;
		height: 100%;
		@media (max-width: $bp-sm-2) {
			object-fit: contain;
			img{
				width: 100%;
				height: 100%;
			}
		}
	}
	
	&_kit &__img-wrap{
		width: 130px;
		height: 130px;
		@media (max-width: $bp-md) {
			height: 100px;
			width: 100px;
		}
		@media (max-width: $bp-sm-2) {
			width: 80px;
			height: 80px;
		}
	}
	
	&_kit &__title{
		font-size: 13px;
		color: #222;
	}


	&_basket &__price{
		font-size: 1.25rem;
	}
	
	&_kit &__price{
		font-size: 1rem;
	}

	&_basket .c-discounts{
		margin-top: 10px;
		&__price{
			flex-basis: 60px;
		}
		&__percent{
			flex-basis: 40px;
		}
	}

	&__input {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}

	&__input:checked + .c-table__cell &__radio:after {
		opacity: 1;
	}

	&_radio &__price:not(.c-product-card__price_old) {
		font-size: 1.25rem;
	}
	
	&_radio {
		.c-table {
			&__cell {
				&:nth-of-type(1) {
					padding-left: 10px;
				    margin-right: 0;
				}

				&:nth-of-type(2) {
					padding-left: 17px !important;
					flex-basis: auto !important;
					display: block !important;
				}
				&:nth-of-type(3){
				    flex-basis: 50%;
				}
				&:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5) {
					padding-left: 24px;
				}

				&:nth-of-type(4) {
					flex-basis: 20%;
					text-align: right;
					padding-right: 20px;

					@media (max-width:$bp-md) {
						display: none;
					}

					@media (max-width:$bp-xl) {
					    flex-basis: 25%;
						padding-left: 0 !important;
						padding-right: 0 !important;
					}


				}

			}

		}

	}

	&__radio {
		width: 25px;
		height: 25px;
		border: 2px solid #000;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;

		&:after {
			content: '';
			width: 10px;
			height: 10px;
			background-color: #000;
			border-radius: 50%;
			opacity: 0;
		}

	}

	&__showroom-label {
		margin-left: 25px;
		font-size: 13px;
		display: flex;
		align-items: center;

		&:before {
			content: '';
			display: block;
			width: 17px;
			height: 19px;
			background: url('../img/icons/cube.svg');
			margin-right: 10px;
		}

	}
	
	&__total{
		&_mobile{
			display: none;
			@media (max-width: $bp-md) {
				display: block;
			}
		}
	}

	&__show-description {
		font-style: italic;
		position: relative;
		z-index: 3;
	}

	&__title {
		font-size: 0.9375rem;
		text-transform: uppercase;
		color: #6493ad;
		font-family: "Open Sans";
		margin-bottom: 0;
		position: relative;
		z-index: 3;

		// @media (max-width:$bp-md) {
		// 	pointer-events: none;
		// }

	}

	&__subtitle {
		margin-top: 10px;
		margin-bottom: 2px;
		text-transform: uppercase;
		font-size: 0.75rem;
	}

	&__size {
		font-size: 0.8125rem;
		display: inline-block;
		margin-bottom: 10px;
	}

	&__btn {
		float: right;
		height: 34px;
		border-radius: 3px;
		background-color: #8cafc2;
		padding: 0 8px;
		letter-spacing: 0.72px;
		font-size: 0.9375rem;
	}

	&__sale {
		position: absolute;
		right: 4px;
		top: 7px;
		font-family: "Roboto Slab";
		font-size: 0.875rem;
		font-weight: 700;
		letter-spacing: 0.59px;
		color: #fff;
		width: 34px;
		height: 34px;
		background: #000;
		text-align: center;
		line-height: 34px;
		border-radius: 50%;
	}

	&__price {
		font-family: "Roboto Slab";
		font-size: 0.9375rem;
		line-height: 1.2;

		&:after {
			content: 'a';
			display: inline-block;
			margin-left: 5px;
			font-family: 'Rubl';
		}

		&_old {
			position: relative;
			font-size: 0.9375rem;

			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 3px;
				background: #f3932c;
				transform: rotate(10deg);
				top: 9px;
			}

			@media (max-width:$bp-md) {
				margin-right: 10px;
			}

			@media (max-width:$bp-sm-2) {
				margin-right: 5px;
			}

		}

		&_new {
			color: #f3932c;
			font-size: 1.25rem;
			font-weight: bold;
		}

	}

}
