.c-product-preview {
	margin-bottom: 10px;

	&__main {
		border: 1px solid #ecf2f6;
		margin-bottom: 20px;
		position: relative;
		img {
			margin: 0 auto;
			display: block;
		}

	}

	&__thumbnail {
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}

	&__thumbnails {
		position: relative;
		// .swiper-container{
		// 	padding: 0 40px;
		// }
		.swiper-slide{
			border: 2px solid transparent;
			border-radius: 2px;
			
		}
		.swiper-slide-thumb-active {
			border-color: #8cafc2;
		}

		.swiper-button-next {
			width: 23px;
			height: 23px;
			border-radius: 50%;
			right: 30px;
			background: #ecf2f6 url('../img/icons/arrow-right.png') no-repeat center center;
		}

	}

	&__zoom {
		width: 36px;
		height: 36px;
		border: 2px solid #6493ad;
		background-color: #fff;
		border-radius: 50%;
		position: absolute;
		z-index: 2;
		right: 30px;
		bottom: 20px;
		transition: .3s;

		&:hover {
			background-color: #6493ad;
		}

		&:hover:after {
			color: #fff;
		}

		&:after {
			content: '+';
			position: absolute;
			transition: .3s;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #6493ad;
			font-weight: bold;
		}

	}

}
