.c-product-info{
	&__code{
		height: 36px;
		background-color: #ecf2f6;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;	
		margin-bottom: 10px;

	}

	&__showroom{
		background-color: #ecf2f6;
		height: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.35px;
		position: relative;
		&:after{
			content: '';
			display: block;
			width: 18px;
			height: 18px;
			background: url('../img/icons/exclamation.png') no-repeat center center;
			margin-left: 10px;
		}
	}

	&__showroom.is-active &__showroom-text{
		opacity: 1;
	}
	&__showroom-text{
		position: absolute;
		background-color: #fff;
		transform: translateY(-100%);
		z-index: 22;
		opacity: 0;
	}

	&__description{
		padding-left: 30px;
		font-size: 14px;
		margin-bottom: 30px;
		td{
			&:first-child{
				width: 51%;
			}
			padding: 7px 0;
		}
	}
	&__action-inner{
		flex-basis: 60%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	&__actions{
		padding-left: 30px;
	}
	&__action{
		height: 37px;
		background-color: #ecf2f6;
		margin-bottom: 10px;
		width: 91%;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		box-shadow: none;
		font-size: 12px;
		color: #222222;
		padding-left: 14%;
	}
	&__action-icon{
		margin: 0 auto;
		display: block;
	}
	&__action-icon-wrap{
		width: 50px;
		margin-right: 9px;
	}
	&__action-text{
		white-space: nowrap;
	}

	
}