.c-product {
	&__header {
		margin-bottom: 24px;
	}

	&__title {
		font-family: "Roboto Slab";
		font-size: 1.4375rem;

		@media (max-width:$bp-lg) {
			width: 50%;
		}
		@media (max-width:$bp-md) {
			width: auto;
			margin-right: 10px;
		}

	}

	&__action {
		box-shadow: none;
		color: #222222;
		text-transform: uppercase;
		font-size: 0.75rem;

		&:not(:last-child) {
			margin-right: 30px;
			@media (max-width:$bp-md) {
				margin-right: 5px;
			}
		}
		span{
			@media (max-width:$bp-md) {
				display: none;
			}
			
		}

	}

	&__action-icon {
		max-width: 18px;
		margin-right: 10px;
	}

	&__order-info {
		padding: 17px 0;
		padding-left: 32px;
		padding-right: 23px;
		border-radius: 3px;
		background-color: #ecf2f6;
		padding-bottom: 26px;
		margin-bottom: 10px;
		border: 2px solid #e4edf2;

		@media (max-width:$bp-xl) {
			padding-left: 22px;
			padding-right: 13px;
		}

		@media (max-width:$bp-lg) {
			padding-bottom: 15px;
			padding-left: 13px;
		}

		.c-product__choosen {
			@media (max-width:$bp-xl) {
				margin-bottom: 20px;
			}
			@media (max-width:$bp-sm-2) {
				margin-bottom: 10px;
			}

		}

	}
	&__order-info-inner {
		@media (max-width:$bp-sm-2) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
	&__choosen {
		margin-top: 3px;
		font-family: "Roboto Slab";
		text-transform: uppercase;
		display: flex;
		align-items: flex-end;
		line-height: 1;

		@media (max-width:$bp-lg) {
			margin-top: 0;
		}

	}

	&__choosen-count {
		margin-left: 6px;
		text-transform: none;
		font-size: 1.125rem;
		line-height: 1.1;
	}

	&__price {
		margin-top: 3px;
		margin-left: -12px;
		font-family: "Roboto Slab";
		line-height: 27px;
		height: 27px;
		display: flex;
		align-items: flex-end;
		text-transform: uppercase;
		line-height: 1.7;

		@media (max-width:$bp-xl) {
			margin-right: 15px;
		}
		@media (max-width:$bp-sm-2) {
			margin-right: 0;
		}

	}

	&__price-number {
		margin-left: 11px;
		font-family: "Roboto Slab";
		font-size: 1rem;
		text-transform: initial;

		&:after {
			content: 'a';
			display: inline-block;
			margin-left: 7px;
			font-family: 'Rubl';
		}

		&_old {
			text-decoration: line-through;

			&:after {
				display: none;
			}

		}

		&_new {
			font-size: 1.875rem;
			line-height: 1.1;
			color: #f3932c;
		}

	}

	&__order-actions {
		.c-btn {
			height: 34px;
			padding: 0 12px;
			font-weight: bold;

			&:not(:last-child) {
				margin-right: 20px;

				@media (max-width:$bp-xl) {
					margin-right: 10px;
				}

			}

		}

	}
	&__order-checkout-inner{
		@media (max-width:$bp-sm-2) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__order-checkout {
		margin-bottom: 70px;
		border-radius: 3px;
		border: 2px solid #e4edf2;
		@media (max-width:$bp-md) {
			margin-left: -20px;
			width: calc(100% + 40px);
		}

		&_fixed {
			cursor: default;
			position: fixed;
			bottom: 0;
			z-index: 240;
			margin: 0;

			@media (max-width:$bp-md) {
				margin-left: -20px;
			}

			.c-product__order-checkout-top {
				cursor: default;
			}

		}

		.c-product__price {
			margin-left: 0;
			@media (max-width:$bp-sm-2) {
				margin-right: 0;
				margin-bottom: 10px;
			}
		}

		.c-product__choosen {
			margin-top: 0;

			@media (max-width:$bp-xl) {
				font-size: 0.9375rem;
			}

		}

		.c-product__price-number {
			margin-left: 8px;
		}

		.c-product__choosen-count {
			margin-left: 15px;

			@media (max-width:$bp-xl) {
				font-size: 1rem;
			}

		}

		.c-product__order-actions .c-btn:not(:last-child) {
			margin-right: 15px;

			@media (max-width:$bp-xl) {
				margin-right: 10px;
			}

		}

		.c-product__order-actions .c-btn {
			height: 32px;
		}

	}


	&__order-checkout-top {
		cursor: pointer;
		display: flex;
		align-items: center;
		background-color: #ecf2f6;
		height: 65px;
		padding-left: 40px;
		padding-right: 23px;

		@media (max-width:$bp-xl) {
			padding-left: 15px;
			padding-right: 15px;
		}

		@media (max-width:$bp-md) {
			height: 100px;
		}

		@media (max-width:$bp-sm-2) {
			height: 110px;
		}


	}

}
