.c-promocode{
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: 700;
	margin-right: 4px;
	&__txt{
		font-size: 13px;
		letter-spacing: 0.2px;
		margin-right: 4px;
	}
	&__label{
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 15px;
		letter-spacing: 0.3px;
		border-radius: 10px;
		background-color: #f14949;
		height: 25px;
		padding: 0 6px;
		color: #fff;
	}
}