.c-promocode {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: 700;
	margin-right: 4px;
	margin-top: 3px;

	@media (max-width:$bp-sm-2) {
		margin-bottom: 10px;
	}

	&__txt {
		font-size: 0.8125rem;
		letter-spacing: 0.2px;
		margin-right: 4px;
	}

	&__label {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0.9375rem;
		letter-spacing: 0.3px;
		border-radius: 10px;
		background-color: #f14949;
		height: 22px;
		line-height: 1;
		font-style: italic;
		padding: 0 8px;
		color: #fff;
	}

}
