.c-sale-day{
	border: 3px solid #f14949;
	margin-bottom: 35px;
	@media (max-width: $bp-md) {
		width: calc(100% + 48px);
	    margin-left: -24px;
	    padding-bottom: 70px;
	}
	.swiper-pagination-bullet {
		width: 14px;
		height: 14px;
		background-color: #e9e9e6;
		opacity: 1;
		margin: 0 7px !important;
	}

	.swiper-pagination {
		bottom: 20px;
	    width: calc(100% - 40px);
	}

	.swiper-pagination-bullet-active {
		background-color: #8cafc2;
	}
	&__title{
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 700;
	}
	&__header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 15px;
		@media (max-width: $bp-md) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	&__product{
		&:after{
			display: none !important;
		}
	}
	&__price{
		&_old{
			text-decoration: line-through;
			font-size: 14px;
			display: block;
		}
		&_new{
			font-size: 18px;
			font-weight: 700;
			color: #f14949;
			line-height: 1;
			&:after{
				content: 'a';
			    display: inline-block;
			    margin-left: 7px;
			    font-family: 'Rubl';
			}
		}
	}
	.swiper-button-prev{
		left: -20px;
	}
	.swiper-button-prev,
	.swiper-button-next{
		background: #fff url(../img/icons/right-arrow.svg) no-repeat center center;
	    background-size: 50%;

		border: 2px solid #ecf2f6;
	    right: -20px;
	}
}