.c-showroom {
	cursor: pointer;
	background-color: #ecf2f6;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.35px;
    position: relative;
    &:after{
	    content: '';
	    display: block;
	    width: 18px;
	    height: 18px;
	    background: url(../img/icons/exclamation.png) no-repeat center center;
	    margin-left: 10px;
    }
	&:hover,
	&.is-active{
	    background-color: #3e7ce3;
		color: #fff;
		&:after{
			background-image: url(../img/icons/exclamation-white.png);
		}
	}
	&.is-active &__menu{
		display: block;
	}
	&__menu {
		width: 100%;
		cursor: default;
		color: #222;
		position: absolute;
		top: 0;
		left: 0;
		transform: translateY(-100%);
		padding: 20px;
		z-index: 22;
		background: #fff;
		box-shadow: 0 0px 7px 0px rgba(0, 0, 0, .3);
		font-size: 13px;
		text-transform: initial;
		display: none;
	}

	&__title {
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	&__close{
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: #ecf2f6 url('../img/icons/close.png') no-repeat center center;
		position: absolute;
		right: 10px;
		top: 10px;
	}

	&__text {
		margin-top: 20px;
		margin-bottom: 10px;

		h5 {
			font-size: 13px;
			font-weight: bold;
		}

		p {
			margin: 0;
			width: 80%;
		}

	}

}
