.c-sort-button{
	.dropdown-toggle{
		height: 48px;
		border-radius: 3px;
		background-color: #8cafc2;
		text-transform: uppercase;
		font-size: 1rem;
		color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
		&:after{
			content: '';
			display: inline-block;
			border: none;
			width: 15px;
			height: 15px;
			margin-left: 5px;
			background: url('../img/icons/sort-down-white.png') no-repeat;
			background-size: contain;
			opacity: .7;
		}
		@media (max-width: $bp-sm-2) {
		    font-size: 0.8rem;
		}
	}
	&__choosed-sort{
		display: none;
	}
	.dropdown-toggle[aria-expanded="true"] &__title{
		display: none;
	}
	.dropdown-toggle[aria-expanded="true"] &__choosed-sort{
		display: block;
	}
	.c-dropdown__menu{
		margin: 0;
		box-shadow: 0 0 16px rgba(2, 0, 0, 0.34);
		border-radius: 3px;
		background-color: #eef3f7;
		padding: 0;
		width: 100%;
	}
	&__item{
		padding: 10px;
		position: relative;
		&:after{
			content: '';
			width: 15px;
			height: 15px;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);

		}
		&_down{
			&:after{
				background: url('../img/icons/sort-down.png') no-repeat;
			}
		}
		&_up{
			&:after{
				background: url('../img/icons/sort-up.png') no-repeat;
			}
		}
		&:hover{
			background-color: #f1ca49;
			color: #fff;
		}
	}
	&__input{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		cursor: pointer;
		opacity: 0;
	}
}