.c-table {
	width: 100%;
	position: relative;

	@media (max-width:$bp-lg) {
		width: calc(100% + 60px);
		left: -20px;
	}
	@media (max-width:$bp-md) {
		width: calc(100% + 47px);
	}
	&_width-notification &__body {
		padding-bottom: 47px;

		@media (max-width:$bp-lg) {
			padding-bottom: 0;
		}

	}

	&_product {
		margin-bottom: 50px;
	}

	&_product &__cell, &_options &__cell {
		@media (max-width:$bp-xl) {
			&:nth-child(2) {
				max-width: 40%;
				margin-right: 5%;
			}

			&:nth-child(3) {
				padding-left: 4%;
			}

		}

		@media (max-width:$bp-md) {
			&:nth-child(2) {
				max-width: 100%;
				margin-right: 5%;
			}

		}
		@media (max-width:$bp-sm-2) {
			&:nth-child(2) {
				margin-right: 0;
				padding-left: 10px;
			}
		}

	}

	&_options {
		margin-bottom: 45px;
	}

	&__header {
		height: 32px;
		padding-left: 30px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 900;
		background-color: #ecf2f6;
		position: absolute;
		font-family: "Open Sans";
		top: 0;
		width: 97.5%;
		z-index: 3;
		@media (max-width:$bp-md) {
			width: 100%;
		}
		a {
			margin-left: 15px;
			font-family: "PT Sans";
			font-size: 12px;
			font-weight: 400;
		}

	}

	&__body {
		position: relative;
		padding-top: 32px;
		max-height: 660px;
		overflow: auto;
		padding-right: calc(2.5% - 7px);
		padding-left: 2px;

		&::-webkit-scrollbar {
			width: 7px;
		}

		&::-webkit-scrollbar-track {
			background-color: #e4edf2;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #8cafc2;
		}
		@media (max-width:$bp-md) {
			padding-right: 0;
		}

	}

	&__row {
		padding: 12px 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 1px solid #ecf2f6;
		border-top: none;
		transition: .3s;
		&:hover{
			background-color: #ecf2f6;
		    box-shadow: 0 0 4px 1px rgba(0,0,0,.2);
		}
		@media (max-width:$bp-lg) {
			padding: 12px 15px;
			padding-right: 30px;
		}

	}

	&__cell {
		

		&:not(:first-child) {
			padding-left: 24px;
		}
		&:last-child {
			flex-grow: 1;

			@media (max-width:$bp-md) {
				padding-left: 0;
			}

		}
		&:nth-child(3) {
			margin-top: -26px;
			flex-basis: 20%;
			text-align: right;

			@media (max-width:$bp-md) {
				display: none;
			}

		}

	}

	&__notification {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 97.5%;
		height: 47px;
		background-color: #f1ca49;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.18);
		font-family: "Open Sans";
		font-size: 14px;
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.28px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width:$bp-lg) {
			display: none;
		}

		&:hover {
			color: #fff;
		}

	}

	&__notification-icon {
		margin-left: 15px;
	}

}
