.c-table {
	width: 100%;
	position: relative;

	// @media (max-width:$bp-lg) {
	// 	width: calc(100% + 60px);
	// 	left: -20px;
	// }
	// @media (max-width:$bp-md) {
	// 	width: calc(100% + 47px);
	// }
	&_width-notification &__body {
		padding-bottom: 47px;

		@media (max-width:$bp-lg) {
			padding-bottom: 0;
		}

	}

	// &_basket{
	// 	@media (max-width:$bp-lg) {
	// 	    width: calc(100% + 40px);
	// 	}
	// }

	&_basket &__cell{
		flex-grow: 1;

		&:nth-child(1){
			margin-right: 20px;
			flex-grow: 0;
			width: 120px;
			display: flex;
			justify-content: flex-end;

			@media (max-width:$bp-md) {
				width: 100px;
				margin-right: 10px;
			}
		}

		&:nth-child(2){
			width: 250px;
			padding-right: 20px !important;

			@media (max-width:$bp-md) {
				padding-right: 0 !important;
			}
			
			.c-number-counter{
				@media (max-width:$bp-xl) {
					margin-left: -25px;
				}

				@media (max-width:$bp-sm) {
					margin-left: 0;
				}
			}

			.c-product-card{
				&__articul{
					@media (max-width:$bp-xl) {
						margin-bottom: 14px;
					}

				}

			}
		}
		&:nth-child(3){
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 30px;

			@media (max-width: $bp-xl ) {
				display: none;
			}
		}
		&:nth-child(4){
			width: 95px;
			display: flex;
			align-items: flex-start;
			justify-content: center;

			@media (max-width: $bp-xl ) {
				display: none;
			}
		}
		&:nth-child(5){
			width: 20px;
			@media (max-width: $bp-xl ) {
				display: none;
			}
		}
		
		&:not(:first-child){
			padding: 8px 0;
			border-bottom: 1px solid #ecf2f6;
			
			@media (max-width: $bp-xl) {
				padding-bottom: 17px;
			}
		}

		&:last-child{
			flex-grow: 0;
			width: 75px;

			@media (max-width:$bp-xl) {
				display: flex;
				justify-content: flex-end;
			}

			@media (max-width:$bp-md) {
				width: 30px;
				justify-content: center;
    			display: flex;
			}

		}
	}
	
	&_basket &__header{

		@media (max-width:$bp-xl) {
			display: none;
		}
	}

	&_basket &__header-cell{
		flex-grow: 1;

		&:nth-child(1){
			flex-grow: 0;
			width: 120px;

		}
		&:nth-child(2){
			width: 250px;

		}
		&:nth-child(3){
			width: 30px;
		}
		&:nth-child(4){
			width: 100px;
			text-align: center;
		}
		&:nth-child(5){
			width: 20px;

		}
		&:last-child{
			flex-grow: 0;
			width: 75px;

		}
	}

	&__row-wrap_kit {
		position: relative;
		&:before{
			content: '';
			display: block;
			width: 2px;
			height: calc(100% - 163px);
			position: absolute;
			top: 87px;
			left: 5px;
			background: #f1ca49;
			z-index: 2;

			@media (max-width: $bp-md) {
			    height: calc(100% - 122px);
			    top: 64px;
			}
		}
		&:after{
			content: 'комплект';
			font-size: 0.75rem;
			color: #f1ca49;
			text-transform: uppercase;
			position: absolute;
		    writing-mode: vertical-rl;
		    transform: scale(-1) translateY(-50%);
		    left: -16px;
		    top: 50%;
		    margin-top: -50px;
		}
	}

	&_basket &__body{
		overflow: visible;
		max-height: initial;
	}
	&_basket &__row{
		padding-right: 0;
		padding-left: 0;
		border: none;
		padding-bottom: 0;
		&:hover{
			background: none;
			box-shadow: none;
		}

		&:first-child{
			@media (max-width:$bp-xl) {
				border-top: 1px solid #ecf2f6;
			}
		}

		&:last-child{
			.c-table__cell{
				border-bottom: none;
			}
		}
	}

	&__row-wrap_kit &__row{
		border-bottom: none;
		&:before{
			content: '';
			display: block;
			width: 50px;
			height: 2px;
			background: #f1ca49;
			position: absolute;
			left: 7px;
			top: 50%;
		}
	}


	&_basket &__body{
		padding-right: 0;
	}
	&_basket &__header{
		padding-left: 20px;
		font-weight: 400;
		width: 100%;
		font-size: 0.8125rem;
	}

	

	&_product {
		margin-bottom: 50px;

		.c-product-card {
			.c-table__cell{
				&:nth-of-type(2) {
					@media (max-width: $bp-md) and (min-width: $bp-sm) {
				    	display: none !important;
				    }
				}

				&:nth-of-type(3) {
					@media (max-width: $bp-md) and (min-width: $bp-sm) {
				    	flex-basis: 100%;
				    }
				}
			}
		}
	}

	&_options {
		.c-product-card {
			.c-table__cell{
				&:nth-of-type(2) {

					@media (max-width:$bp-md) {
						display: none !important;
					}
				}

				&:nth-of-type(3){
				    @media (max-width:$bp-md) {
				    	flex-basis: 70%;
				    }
				}
			}
		}
	}

	&_product &__cell, &_options &__cell {
		@media (max-width: $bp-xl) {
			&:nth-child(2) {
				max-width: 40%;
				margin-right: 5%;
			}

			&:nth-child(3) {
				padding-left: 4%;
			}

		}

		@media (max-width:$bp-md) {
			&:nth-child(2) {
				max-width: 100%;
				margin-right: 5%;
			}

		}
		@media (max-width:$bp-sm-2) {
			&:nth-child(2) {
				margin-right: 0;
				padding-left: 10px;
			}
		}

	}

	&_options {
		margin-bottom: 45px;
	}
		
	

	&__header {
		height: 32px;
		padding-left: 30px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: 1rem;
		text-transform: uppercase;
		font-weight: 900;
		background-color: #ecf2f6;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 10;
		@media (max-width:$bp-md) {
			width: 100%;
		}
		a {
			margin-left: 15px;
			font-family: "PT Sans";
			font-size: 0.75rem;
			font-weight: 400;
		}

	}

	&__body {
		position: relative;
		padding-top: 32px;
		// max-height: 660px;
		// overflow-y: scroll;
		// padding-right: calc(2.5% - 7px);
		padding-left: 2px;

		&::-webkit-scrollbar {
			width: 7px;
		}

		&::-webkit-scrollbar-track {
			background-color: #e4edf2;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #8cafc2;
		}
		@media (max-width:$bp-md) {
			padding-right: 0;
		}

	}

	&__row {
		padding: 12px 15px;
		display: flex;
		justify-content: space-between;
		border: 1px solid #ecf2f6;
		border-top: none;
		transition: .3s;
		&:hover,
		&.is-active{
			background-color: #ecf2f6;
		    box-shadow: 0 0 4px 1px rgba(0,0,0,.2);
		}
		@media (max-width:$bp-lg) {
			padding: 12px 15px;
			padding-right: 30px;
		}
		@media (max-width:$bp-sm-2) {
			padding-right: 5px;
			padding-left: 5px;
		}

	}

	
	&:not(&_basket) &__cell {
		

		&:not(:first-child) {
			padding-left: 24px;
		}
	
		&:last-child{
			display: flex;
			align-items: center;
		}

		&:nth-of-type(1) {
			padding-left: 10px;
			display: flex;
			align-items: center;
		}
		&:last-child {
			flex-grow: 1;

			@media (max-width:$bp-md) {
				padding-left: 0;
			}

		}
		&:nth-child(3) {
			flex-basis: 30%;
			text-align: right;
			padding-left: 0;
			// padding-left: 10%;
			@media (max-width:$bp-md) {
				display: none;
			}

		}

	}
	
	&_options &__cell{
		&:nth-of-type(1) {
			padding-left: 10px;
		}

		&:nth-of-type(2) {
			padding-left: 17px;
			flex-basis: auto;
		}
		
		&:nth-of-type(3),
		&:nth-of-type(4),
		&:nth-of-type(5){
			padding-left: 24px;
		}

		&:nth-of-type(3){
			padding-left: 10%;
		}


		&:nth-of-type(4) {
			flex-basis: 20%;
			text-align: right;
			padding-right: 20px;
			@media (max-width:$bp-md) {
				padding-right: 0;
			}

		}
	}

	&__notification {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 97.5%;
		height: 47px;
		background-color: #f1ca49;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.18);
		font-family: "Open Sans";
		font-size: 0.875rem;
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.28px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width:$bp-lg) {
			display: none;
		}

		&:hover {
			color: #fff;
		}

	}

	&__notification-icon {
		margin-left: 15px;
	}

	&_order-history &__header{
		width: 100%;
		padding-left: 20px;
		font-weight: normal;
		font-size: 0.8125rem;
	}
	&_order-history &__row{
		padding: 20px;
		padding-right: 0;
		border: none;
		border-bottom: 1px solid #ecf2f6;
		&:hover{
			box-shadow: none;
			background: none;
		}
	}
	&_order-history &__body{
		padding-right: 0;
	}
	&_order-history &__header-cell{
		flex-basis: 100%;
		&:last-child{
	        flex-basis: 30%;
	    }
	}

	&_order-history &__cell{
	    flex-basis: 100% !important;
	    padding-left: 0 !important;
	    text-align: left !important;
	    &:last-child{
	        flex-basis: 30% !important;
	    }
	}

}
