.c-tip {
	padding: 10px;
	font-family: "Open Sans";
	font-size: 0.875rem;
	line-height: 20px;
	letter-spacing: 0.28px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.33);
	border: 1px solid #ecf2f6;
	border-radius: 9px;
	position: fixed;
	background: #fff;
	max-width: 230px;
	text-align: center;
	z-index: 2600;
	transition: opacity .3s;
	display: none;
	pointer-events: none;

	&:after {
		content: '';
		border: 10px solid transparent;
		border-bottom-color: #fff;
		border-left-color: #fff;
		position: absolute;
		right: -9px;
		top: 50%;
		transform: rotate(-135deg) translate(30%, 30%);
		box-shadow: -3px 2px 4px rgba(0, 0, 0, 0.18);
		z-index: 2;
	}
	
	&_code{
		font-style: italic;
		display: block;
		opacity: 0;
	}

	&_filter{
		max-width: initial;
		
		@media (max-width: $bp-xl) {
			bottom: 0 !important;
		    left: 0 !important;
		    width: 100%;
		    border-radius: 0;
		    top: auto !important;
		}
	}
	&_left{
		padding-left: 15px;
		&:after{
			right: auto;
			left: -9px;
		    border-top-color: #fff;
		    border-right-color: #fff;
	        box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.18);

		}
	}

	&_filter{
		pointer-events: auto;
	}

	&_top{
		padding-left: 15px;

		&:after{
			right: auto;
			left: 45%;
			top: -3px;
		    border-bottom-color: #fff;
	        box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.15);
	        transform: rotate(135deg) translate(-50%, 0);

		}
	}

}
