.c-tip {
	padding: 10px;
	font-family: "Open Sans";
	font-size: 0.875rem;
	line-height: 20px;
	letter-spacing: 0.28px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.33);
	border: 1px solid #ecf2f6;
	border-radius: 9px;
	position: fixed;
	background: #fff;
	max-width: 230px;
	text-align: center;
	z-index: 2600;
	transition: opacity .3s;
	display: none;
	pointer-events: none;

	
	&_code{
		font-style: italic;
		display: none;
	}

	&_filter{
		max-width: initial;
		pointer-events: auto;

		@media (max-width: $bp-xl) {
			bottom: 0 !important;
		    left: 0 !important;
		    width: 100%;
		    border-radius: 0;
		    top: auto !important;
		}
	}

	&[data-placement="left"],
	&[data-placement="top"],
	&[data-placement="bottom"]{
		padding-left: 15px;

		&:after{
			content: '';
			border: 10px solid transparent;
			position: absolute;
			top: calc(50% - 2.5px);
			width: 0;
			height: 0;
			display: block;
			z-index: 2;
		}
	}

	&[data-placement="left"]{
		&:after{
			left: 0;
		    border-top-color: #fff;
		    border-right-color: #fff;
	        transform: rotate(-140deg) translate(50%, 0);
	        box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.1);

		}
	}

	&[data-placement="top"],
	&[data-placement="bottom"]{
		&:after{
			top: auto;
			left: 50%;
	        transform: rotate(-45deg) translate(-50%, 0);
	        

		}
	}

	&[data-placement="top"]{
		&:after{
			top: -17px;
			border-top-color: #fff;
			border-right-color: #fff;
			box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.15);
		}
	}

	&[data-placement="bottom"]{
		&:after{
			bottom: -3px;
		    border-bottom-color: #fff;
		    border-left-color: #fff;
		    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.15);

		}
	}

}
