.c-total-price{
	display: flex;
	align-items: flex-end;
	&__txt{
		font-size: 1.125rem;
		line-height: 0.925rem;
		margin-right: 10px;
	}
	&__number{
		font-family: "Roboto Slab";
		font-size: 1.875rem;
		line-height: 1.7rem;
		&:after{
			content: 'a';
			display: inline-block;
			margin-left: 5px;
			font-family: 'Rubl';
		}
		&_old{
		    font-size: 1.3rem;
		    margin-right: 10px;
	        line-height: 1rem;
		    position: relative;
		    &:before{
	    	    content: '';
			    display: block;
			    position: absolute;
			    width: 100%;
			    height: 3px;
			    background: #f3932c;
			    transform: rotate(10deg);
			    top: 9px;
		    }
		}
		&_new{
		    color: #f3932c;
	        line-height: 1.4rem;
		}
	}

}