.c-watch-earlier {
	&__header {
		font-family: "Roboto Slab";
		font-size: 23px;
		text-align: center;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.swiper-container {
		padding: 10px 0;
		padding-bottom: 68px;
	}

	.swiper-pagination-bullet {
		width: 14px;
		height: 14px;
		background-color: #e9e9e6;
		opacity: 1;
		margin: 0 7px !important;
	}
	.swiper-pagination{
		bottom: 0;
	}
	.swiper-pagination-bullet-active {
		background-color: #8cafc2;
	}
	.swiper-button-next, .swiper-button-prev{
		top: 30%;
	}
	&__header-link {
		position: absolute;
		right: -2px;
		margin-top: 2px;
		font-size: 11px;
		text-transform: uppercase;
	}

	.c-checkout-products{
		padding: 0;
	    padding-top: 45px;
	}

	.c-checkout-product{
		&:after{
			display: none;
		}

		&__img{
			margin-bottom: 37px;
		}
		&__title{
			padding: 0 10px;
		}
	}

}
