.c-watch-earlier {
	&__header {
		font-family: "Roboto Slab";
		font-size: 1.4375rem;
		text-align: center;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width:$bp-md) {
			flex-direction: column;
		}

	}

	.swiper-container {
		padding: 10px 0;
		padding-bottom: 68px;
	}

	.swiper-pagination-bullet {
		width: 14px;
		height: 14px;
		background-color: #e9e9e6;
		opacity: 1;
		margin: 0 7px !important;
	}

	.swiper-pagination {
		bottom: 0;
	}

	.swiper-pagination-bullet-active {
		background-color: #8cafc2;
	}

	.swiper-button-next, .swiper-button-prev {
		top: 35%;
		@media (max-width:$bp-md) {
			display: none;
		}
	}

	&__header-link {
		position: absolute;
		right: -2px;
		margin-top: 2px;
		font-size: 0.6875rem;
		text-transform: uppercase;

		@media (max-width:$bp-sm) {
			position: static;
			margin-top: 12px;
		}

	}

	.c-checkout-products {
		padding: 0;
		padding-top: 45px;

		@media (max-width:$bp-sm) {
			padding-top: 15px;
		}

	}

	.c-checkout-product {
		&:after {
			display: none;
		}

		&__img {
			margin-bottom: 37px;
			width: 145px;
			height: 135px;

			@media (max-width:$bp-md) {
				width: 100%;
				padding: 10px;
				border-radius: 3px;
				border: 1px solid #ecf2f6;
				margin-bottom: 20px;
			}

			img {
				object-fit: contain;
				object-position: bottom;
			}

		}

		&__title {
			padding: 0 10px;

			@media (max-width:$bp-md) {
				display: none;
			}

		}

	}

}
