.c-watch-earlier-widget{
	text-align: center;
	&__title{
		font-family: "Roboto Slab";
		font-size: 1.125rem;
		margin-bottom: 25px;
	}
	&__body{
		display: flex;
		flex-wrap: wrap;
	}
	&__item{
		width: calc(50% - 20px);
		margin: 10px;
		position: relative;
	}
	&__item:hover &__info{
		opacity: 1;
	}
	&__info{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		opacity: 0;
		transition: .3s;
	}
	&__price{
		&:after{
		    content: 'a';
		    display: inline-block;
		    margin-left: 5px;
		    font-family: 'Rubl';
		}
	}
	&__img{
		img{
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&__link{
		margin-top: 15px;
		text-transform: uppercase;
		font-size: 0.75rem;
	}
}