html(lang="ru")
	head
		include templates/head.pug
	body
		.container
			.o-page.js-page
				include templates/navbar.pug
				include templates/header.pug
				main.o-page__content
					section.s-404
						img(src=require("../img/content/404.jpg"), alt="").mt-4.mb-4.s-404__img
						.c-back-call
							h3.c-back-call__title Вы можете написать нам или заказать обратный звонок

							.c-back-call__body
								ul.nav.nav-tabs
									li.nav-item
										a(href="#message-us-content" data-toggle="tab").nav-link.active#message-us-tab Написать нам
									li.nav-item
										a(href="#back-call-content" data-toggle="tab").nav-link#back-call-tab Обратный звонок
								.tab-content
									.tab-pane.fade.show.active#message-us-content
										form.c-form
											.row
												.col-md-4
													input(type="text" placeholder="Ваше имя*" required).c-form__field
												.col-md-4
													input(type="text" placeholder="Ваш телефон*" required).c-form__field
												.col-md-4
													input(type="text" placeholder="Ваш e-mail").c-form__field
											.row
												.col-md-12
													textarea(name="", cols="30", rows="10" placeholder="Ваш вопрос*" required).c-form__field.c-form__field_textarea
											.row
												.col-md-6.mb-3.mb-md-0 Обязательно для заполнения* 

												.col-md-6.d-flex.justify-content-start.justify-content-md-end
													.c-form__action.c-form__action_attachment
														input(type="file")
														a(href="#") Добавить вложение
											.row
												.col-md-5
													button.c-btn.c-btn_secondary.c-form__btn Отправить
											
									.tab-pane.fade.show#back-call-content
										form.c-form
											.row
												.col-sm-6.col-md-4.mb-3
													.c-form__dropdown
														select
															option сегодня
															option завтра
														
												.col-sm-6.col-md-4.mb-3
													.d-flex.align-items-center
														span.mr-2 в
														.c-form__dropdown.w-100
															select
																option 10:00
																option 11:00
																option 12:00
																option 13:00
																option 14:00
																option 15:00
												.col-md-4
													.c-form__field.c-form__field_phone
														.c-form__field-flag.c-form__field-flag_russia
														input(type="tel" placeholder="+7 (___) ___-__-__").js-phone-field
											.row
												.col-md-5
													button.c-btn.c-btn_secondary.c-form__btn жду звонка

				include templates/footer.pug