html(lang="ru")
	head
		include templates/head.pug
	body
		.container
			.o-page.js-page
				include templates/navbar.pug
				include templates/header.pug
				main.o-page__content
					.c-breadcrumbs
						a(href="#!").c-breadcrumbs__item Главная
						a(href="#!").c-breadcrumbs__item Корзина
					.o-section.s-basket
						.o-section__header
							h3.o-section__title Корзина
						.o-section__body
							.row.s-basket__info
								.col-lg-6
									form(action="").c-form.s-basket__coupon
										label.row.d-flex.align-items-center
											.col-md-6 Введите код купона для скидки:
											.col-md-5
												input(type="text").c-form__field.mb-0
								.col-lg-3.mb-3.mb-lg-0
									.s-basket__total-price.c-total-price
										.c-total-price__txt Итого:
										.c-total-price__number 40423
									.c-discounts
										ul.c-discounts__list
											li.c-discounts__item
												.c-discounts__price 40612
												.c-discounts__percent 10%
												.c-discounts__info промокод
											li.c-discounts__item
												.c-discounts__price 45125
												.c-discounts__percent 5%
												.c-discounts__info скидка на товар
											li.c-discounts__item
												.c-discounts__price 47500
												.c-discounts__percent 5%
												.c-discounts__info скидка по типу оплаты
								.col-lg-3
									button.c-btn.c-btn_lg.c-btn_secondary оформить заказ
							.s-basket__section
								.c-table.c-table_basket
									.c-table__header
										.c-table__header-cell Товар
										.c-table__header-cell наименование 
										.c-table__header-cell цена
										.c-table__header-cell кол-во
										.c-table__header-cell сумма
										.c-table__header-cell удалить
									.c-table__body
										.c-table__row.c-product-card.c-product-card_basket
											.c-table__cell
												.c-product-card__img-wrap.js-product-lightbox
													a(href="../img/content/option.jpg").c-product-card__img
														img(src=require("../img/content/option.jpg"), alt="")
											.c-table__cell
												a(href="#!").c-product-card__title Гидромассаж название
												.c-product-card__subtitle Арт.  23370001
											.c-table__cell
												.c-product-card__price 2772
												.c-discounts
													ul.c-discounts__list
														li.c-discounts__item
															.c-discounts__price 8500
															.c-discounts__percent 10%
															.c-discounts__info промокод
														li.c-discounts__item
															.c-discounts__price 9000
															.c-discounts__percent 5%
															.c-discounts__info скидка на товар
											.c-table__cell
												.c-number-counter
													.c-number-counter__action.c-number-counter__action_down
													input(type="number" value="1").form-control.c-number-counter__field
													.c-number-counter__action.c-number-counter__action_up
											.c-table__cell
												.c-product-card__price 7695
											.c-table__cell
												a(href="#").c-product-card__remove-btn
										.c-table__row-wrap.c-table__row-wrap_kit
											.c-table__row.c-product-card.c-product-card_basket
												.c-table__cell
													.c-product-card__img-wrap.js-product-lightbox
														a(href="../img/content/option.jpg").c-product-card__img
															img(src=require("../img/content/option.jpg"), alt="")
												.c-table__cell
													a(href="#!").c-product-card__title Гидромассаж название
													.c-product-card__subtitle Арт.  23370001
												.c-table__cell
													.c-product-card__price 2772
													
												.c-table__cell
													.c-number-counter
														.c-number-counter__action.c-number-counter__action_down
														input(type="number" value="1").form-control.c-number-counter__field
														.c-number-counter__action.c-number-counter__action_up
												.c-table__cell
													.c-product-card__price 7695
												.c-table__cell
													a(href="#").c-product-card__remove-btn
											.c-table__row.c-product-card.c-product-card_basket.c-product-card_kit
												.c-table__cell
													.c-product-card__img-wrap.js-product-lightbox
														a(href="../img/content/option.jpg").c-product-card__img
															img(src=require("../img/content/option.jpg"), alt="")
												.c-table__cell
													.c-product-card__title Гидромассаж название
													.c-product-card__subtitle Арт.  23370001
												.c-table__cell
													.c-product-card__price 2772
												.c-table__cell
													.c-number-counter
														input(type="number" value="1").form-control.c-number-counter__field
												.c-table__cell
													.c-product-card__price 7695
												.c-table__cell
											.c-table__row.c-product-card.c-product-card_basket.c-product-card_kit
												.c-table__cell
													.c-product-card__img-wrap.js-product-lightbox
														a(href="../img/content/option.jpg").c-product-card__img
															img(src=require("../img/content/option.jpg"), alt="")
												.c-table__cell
													.c-product-card__title Гидромассаж название
													.c-product-card__subtitle Арт.  23370001
												.c-table__cell
													.c-product-card__price 2772
												.c-table__cell
													.c-number-counter
														input(type="number" value="1").form-control.c-number-counter__field
												.c-table__cell
													.c-product-card__price 7695
												.c-table__cell
							.s-basket__section
								h3.s-basket__title Способ оплаты:
								.s-basket__content
									form(action="#").c-form
										.c-form__group
											.c-form__group-title Оплата физ.лица
											.c-form__radio
												input(type="radio" name="payment-method" checked).c-form__radio-input
												.c-form__radio-label 
													b Наличными 
													.
														(скидка от общей стоимости 5%)
											.c-form__radio
												input(type="radio" name="payment-method").c-form__radio-input
												.c-form__radio-label 
													b Картой курьеру  
													.
														(скидка от общей стоимости 5%)
											.c-form__radio
												input(type="radio" name="payment-method").c-form__radio-input
												.c-form__radio-label 
													b Картой на сайте  
													.
														(скидка от общей стоимости 5%)
										.c-form__group
											.c-form__group-title Оплата юр.лица
											.c-form__radio
												input(type="radio" name="payment-method" checked).c-form__radio-input
												.c-form__radio-label 
													b Наличными 
													.
														(скидка от общей стоимости 5%)
											.c-form__radio
												input(type="radio" name="payment-method").c-form__radio-input
												.c-form__radio-label 
													b Картой курьеру  
													.
														(скидка от общей стоимости 5%)
											.c-form__radio
												input(type="radio" name="payment-method").c-form__radio-input
												.c-form__radio-label 
													b Картой на сайте  
													.
														(скидка от общей стоимости 5%)
							.s-basket__section
								h3.s-basket__title Способ получения товара
								.s-basket__content
									form(action="#").c-form
										.c-form__group
											.mb-4
												.c-form__radio
													input(type="radio" name="payment-method" checked).c-form__radio-input
													.c-form__radio-label 
														b Самовывоз 
														p.c-form__radio-txt
															.
																Адрес:  Посёлок Заречье, Торговая ул., стр. 2, ТЦ "Элитстройматериалы", 1 этаж, место А-18 <br>
																Время работы салона:  10.00 - 20.00 без выходных<br>
															a(href="#") Смотреть на карте

												.c-form__radio
													input(type="radio" name="payment-method").c-form__radio-input
													.c-form__radio-label 
														b Доставка по адресу  
											label.c-form__label Адрес доставки
												input(type="text").form-control.c-form__field
											label.c-form__label Комментарии
												textarea(name="", rows="7").form-control.c-form__field.c-form__field_textarea
											.c-form__action.c-form__action_attachment
												input(type="file")
												a(href="#") Прикрепить файл
							.s-basket__section
								h3.s-basket__title Личные данные
								.s-basket__content
									form(action="#").c-form
										label.c-form__label ФИО
											input(type="text").form-control.c-form__field
										.row
											.col-md-6
												label.c-form__label E-mail
													input(type="email").form-control.c-form__field
											.col-md-6
												label.c-form__label Телефон
													input(type="text" value="7").form-control.c-form__field.js-phone-field
				include templates/footer.pug