html(lang="ru")
	head
		include templates/head.pug
	body
		.container
			.o-page.js-page
				include templates/navbar.pug
				include templates/header.pug
				main.o-page__content
					.c-breadcrumbs
						a(href="#!").c-breadcrumbs__item Главная
						a(href="#!").c-breadcrumbs__item Корзина
					.o-section.s-basket
						.o-section__header
							h3.o-section__title Корзина
						.o-section__body
							.row
								.col-md-6
									form(action="").c-form.s-basket__coupon
										label.row.d-flex.align-items-center
											.col-md-6 Введите код купона для скидки:
											.col-md-5
												input(type="text").c-form__field.mb-0
								.col-md-3
									.s-basket__total-price.c-total-price
										.c-total-price__txt Итого:
										.c-total-price__number 40423
									.c-discounts
										ul.c-discounts__list
											li.c-discounts__item
												.c-discounts__price 40612
												.c-discounts__percent 10%
												.c-discounts__info промокод
											li.c-discounts__item
												.c-discounts__price 45125 
												.c-discounts__percent 5%
												.c-discounts__info скидка на товар
											li.c-discounts__item
												.c-discounts__price 47500 
												.c-discounts__percent 5%
												.c-discounts__info скидка по типу оплаты
								.col-md-3
									button.c-btn.c-btn_lg.c-btn_secondary оформить заказ
							.c-table.c-table_basket
								.c-table__header
									.c-table__header-cell ГИДРОМАССАЖ
									.c-table__header-cell ГИДРОМАССАЖ
									.c-table__header-cell ГИДРОМАССАЖ
									.c-table__header-cell ГИДРОМАССАЖ
									.c-table__header-cell ГИДРОМАССАЖ
									.c-table__header-cell ГИДРОМАССАЖ
								.c-table__body
									.c-table__row.c-product-card
										.c-table__cell
											.c-product-card__img-wrap.js-product-lightbox
												.c-product-card__sale 15%
												a(href="../img/content/option.jpg").c-product-card__img
													img(src=require("../img/content/option.jpg"), alt="")
										.c-table__cell
											a(href="#!").c-product-card__title Гидромассаж название
												.c-product-card__subtitle Арт.  23370001
												.d-flex.flex-column.flex-sm-row.align-items-start.align-items-md-center.d-md-none.mb-2
													.c-product-card__price.c-product-card__price_old 2772
													.c-product-card__price.c-product-card__price_new 1 990
										.c-table__cell
											.c-product-card__price 2772
										.c-table__cell
											div count
										.c-table__cell
											div total
										.c-table__cell
											div remove
				include templates/footer.pug