<!DOCTYPE html>
html(lang="ru")
	head
		include templates/head.pug
	body
		.container
			include templates/navbar.pug
			include templates/header.pug
			.
				conteasda2222
			include templates/footer.pug
		