html(lang="ru")
	head
		include templates/head.pug
	body
		.container
			.o-page.js-page
				include templates/navbar.pug
				include templates/header.pug
				main.o-page__content
					.c-breadcrumbs
						.c-breadcrumbs__list
							a(href="#!").c-breadcrumbs__item Главная
							a(href="#!").c-breadcrumbs__item Контакты
							a(href="#!").c-breadcrumbs__item Вакансии
					section.o-section.s-jobs
						.o-section__header
							.o-section__title Вакансии
						.o-section__body
							.s-jobs__info
								| Наша компания работает на рынке сантехники вот уже более 10 лет. За это время мы выявили для вас только качественных производителей и поставщиков сантехники и сформировали для вас лучшие предложения. 
								br
								br
								| Как только курьер передаст вам товар, обязательно осмотрите его на наличие дефектов и всех необходимых компонентов (если таковые подразумеваются). Только после этого нужно ставить подпись в накладных. Компания работает на рынке сантехники вот уже более 10 лет. За это время мы выявили для вас только качественных производителей и поставщиков сантехники и сформировали для вас лучшие предложения. Только после этого нужно ставить подпись в накладных. Компания работает на рынке сантехники вот уже более 10 лет. 
							
							.c-accordion#jobs-accordion
								.c-accordion__item
									.c-accordion__header
										button.c-accordion__toggle(type="button" data-toggle="collapse" data-target="#jobs-accordion-body-1" aria-expanded="true" aria-controls="jobs-accordion-body-1")
											h3.c-accordion__title Менеджер по продажам на телефоне
									.collapse.show#jobs-accordion-body-1(data-parent="#jobs-accordion")
										.c-accordion__body
											h6
												b Условия работы:
											p
												.
													Мы развиваем и поддерживаем здоровую и безопасную рабочую среду. Каждый сотрудник соблюдает Кодекс поведения, внутренние правила компании и придерживается принципов деловой этики. Мы поступаем честно и этично как по отношению к друг другу, так и к нашим внешним партнерам.
											h6
												b Требования:
											ul
												li Коммуникабельный и жизнерадостный, любишь продажи и планируешь развиваться в этой сфере;
												li Обладаешь грамотной речью и сможешь любому клиенту объяснить преимущества продаваемого тарифа;
												li Имеешь компьютер или ноутбук, стабильно работающий интернет от 10 мб/сек, гарнитуру с микрофоном и тихое помещение.
											h6
												b График работы:
											p Гибкий график, при котором ты можешь выбрать удобные для тебя смены (с 10:00 до 14:00, с 13:30 до 17:30, с 17:00 до 21:00)
											h6
												b Адрес:
											p 
												| Посёлок Заречье, Торговая ул., стр. 2, ТЦ "Элитстройматериалы", 1 этаж, место А-18
												br 
												| Время работы салона:  10.00 - 20.00 без выходных
												a(href="#").ml-2 Смотреть на карте
											h6
												b Контакты:
											p +7 (495) 565 35 88 (доб. 101), job.sanbest@mail.ru

								.c-accordion__item
									.c-accordion__header
										button.c-accordion__toggle(type="button" data-toggle="collapse" data-target="#jobs-accordion-body-2" aria-expanded="false" aria-controls="jobs-accordion-body-2")
											h3.c-accordion__title Продавец-консультант
									.collapse#jobs-accordion-body-2(data-parent="#jobs-accordion")
										.c-accordion__body
											h6
												b Условия работы:
											p
												.
													Мы развиваем и поддерживаем здоровую и безопасную рабочую среду. Каждый сотрудник соблюдает Кодекс поведения, внутренние правила компании и придерживается принципов деловой этики. Мы поступаем честно и этично как по отношению к друг другу, так и к нашим внешним партнерам.
											h6
												b Требования:
											ul
												li Коммуникабельный и жизнерадостный, любишь продажи и планируешь развиваться в этой сфере;
												li Обладаешь грамотной речью и сможешь любому клиенту объяснить преимущества продаваемого тарифа;
												li Имеешь компьютер или ноутбук, стабильно работающий интернет от 10 мб/сек, гарнитуру с микрофоном и тихое помещение.
											h6
												b График работы:
											p Гибкий график, при котором ты можешь выбрать удобные для тебя смены (с 10:00 до 14:00, с 13:30 до 17:30, с 17:00 до 21:00)
											h6
												b Адрес:
											p 
												| Посёлок Заречье, Торговая ул., стр. 2, ТЦ "Элитстройматериалы", 1 этаж, место А-18
												br 
												| Время работы салона:  10.00 - 20.00 без выходных
												a(href="#").ml-2 Смотреть на карте
											h6
												b Контакты:
											p +7 (495) 565 35 88 (доб. 101), job.sanbest@mail.ru
								.c-accordion__item
									.c-accordion__header
										button.c-accordion__toggle(type="button" data-toggle="collapse" data-target="#jobs-accordion-body-3" aria-expanded="false" aria-controls="jobs-accordion-body-3")
											h3.c-accordion__title Менеджер отдела сантехники
									.collapse#jobs-accordion-body-3(data-parent="#jobs-accordion")
										.c-accordion__body
											h6
												b Условия работы:
											p
												.
													Мы развиваем и поддерживаем здоровую и безопасную рабочую среду. Каждый сотрудник соблюдает Кодекс поведения, внутренние правила компании и придерживается принципов деловой этики. Мы поступаем честно и этично как по отношению к друг другу, так и к нашим внешним партнерам.
											h6
												b Требования:
											ul
												li Коммуникабельный и жизнерадостный, любишь продажи и планируешь развиваться в этой сфере;
												li Обладаешь грамотной речью и сможешь любому клиенту объяснить преимущества продаваемого тарифа;
												li Имеешь компьютер или ноутбук, стабильно работающий интернет от 10 мб/сек, гарнитуру с микрофоном и тихое помещение.
											h6
												b График работы:
											p Гибкий график, при котором ты можешь выбрать удобные для тебя смены (с 10:00 до 14:00, с 13:30 до 17:30, с 17:00 до 21:00)
											h6
												b Адрес:
											p 
												| Посёлок Заречье, Торговая ул., стр. 2, ТЦ "Элитстройматериалы", 1 этаж, место А-18
												br 
												| Время работы салона:  10.00 - 20.00 без выходных
												a(href="#").ml-2 Смотреть на карте
											h6
												b Контакты:
											p +7 (495) 565 35 88 (доб. 101), job.sanbest@mail.ru
											
								
				include templates/footer.pug
