ul.c-catalog-menu__nav
	li.c-catalog-menu__item
		a(href="#").c-catalog-menu__link Ванны
	li.c-catalog-menu__item
		a(href="#").c-catalog-menu__link Унитазы
	li.c-catalog-menu__item
		a(href="#").c-catalog-menu__link Душевые кабины
	li.c-catalog-menu__item
		a(href="#").c-catalog-menu__link Душевые углы
	li.c-catalog-menu__item
		a(href="#").c-catalog-menu__link Душевые двери
	li.c-catalog-menu__item
		a(href="#").c-catalog-menu__link Душевые поддоны
	li.c-catalog-menu__item.c-catalog-menu__item_dropdown
		a(href="#submenu1" data-toggle="collapse").c-catalog-menu__link Мебель для ванной
		ul.collapse.c-catalog-menu__submenu#submenu1
			li.c-catalog-menu__item
				a(href="#").c-catalog-menu__link Мебель для ванной
			li.c-catalog-menu__item
				a(href="#").c-catalog-menu__link Мебель для ванной
			li.c-catalog-menu__item
				a(href="#").c-catalog-menu__link Мебель для ванной
	li.c-catalog-menu__item.c-catalog-menu__item_dropdown
		a(href="#submenu2" data-toggle="collapse").c-catalog-menu__link Смесители
		ul.collapse.c-catalog-menu__submenu#submenu2
			li.c-catalog-menu__item
				a(href="#").c-catalog-menu__link Смесители
			li.c-catalog-menu__item
				a(href="#").c-catalog-menu__link Смесители
			li.c-catalog-menu__item
				a(href="#").c-catalog-menu__link Смесители
	li.c-catalog-menu__item.c-catalog-menu__item_dropdown
		a(href="#submenu3" data-toggle="collapse").c-catalog-menu__link Душевая программа
		ul.collapse.c-catalog-menu__submenu#submenu3
			li.c-catalog-menu__item
				a(href="#").c-catalog-menu__link Душевая программа
			li.c-catalog-menu__item
				a(href="#").c-catalog-menu__link Душевая программа
			li.c-catalog-menu__item
				a(href="#").c-catalog-menu__link Душевая программа
	li.c-catalog-menu__item
		a(href="#").c-catalog-menu__link Раковины
	li.c-catalog-menu__item
		a(href="#").c-catalog-menu__link Полотенцесушители
	li.c-catalog-menu__item
		a(href="#").c-catalog-menu__link Биде
	li.c-catalog-menu__item.c-catalog-menu__item_dropdown
		a(href="#submenu4" data-toggle="collapse").c-catalog-menu__link Аксессуары для ванной
		ul.collapse.c-catalog-menu__submenu#submenu4
			li.c-catalog-menu__item
				a(href="#").c-catalog-menu__link Аксессуары для ванной
			li.c-catalog-menu__item
				a(href="#").c-catalog-menu__link Аксессуары для ванной
	li.c-catalog-menu__item
		a(href="#").c-catalog-menu__link Шторки для ванны
	li.c-catalog-menu__item
		a(href="#").c-catalog-menu__link Инсталляции
	li.c-catalog-menu__item
		a(href="#").c-catalog-menu__link Полотенцесушители