header.c-header
	.c-header__top
		a(href="/").c-header__logo.c-logo
			img(src=require("../../img/icons/logo.svg"), alt="").c-logo__img
			span.c-logo__letter Салон сантехники
		nav.c-nav.c-header__nav
			a(href="#").c-nav__item Бренды
			a(href="#").c-nav__item Доставка и оплата
			a(href="#").c-nav__item Акции
			a(href="#").c-nav__item Контакты
		a(href="tel:99999").c-phone +7 (495) 565 35 88
			.c-phone__text Работаем круглосуточно
		.c-header__actions.d-flex.align-items-center
			a(href="#").c-btn.c-btn_primary обратный звонок
			a(href="#").c-btn.c-btn_primary написать нам
	.c-header__bottom
		.c-catalog-menu
			.c-catalog-menu__toggle каталог
				.c-catalog-menu__toggle-icon
			.c-catalog-menu__nav
		.c-search
			form.c-form
				input(type="search" placeholder="Поиск по сайту").c-search__field
				button.c-search__btn