svg
	symbol(id="icon-close")
		<path id="Прямоугольник_5_копия" data-name="Прямоугольник 5 копия" class="cls-1" d="M1526.37,124.923l9.55-9.556a0.5,0.5,0,0,1,.71,0,0.492,0.492,0,0,1,0,.707l-9.56,9.556A0.5,0.5,0,1,1,1526.37,124.923Z" transform="translate(-1526.25 -115.25)"/>
		<path id="Прямоугольник_5_копия_2" data-name="Прямоугольник 5 копия 2" class="cls-1" d="M1536.63,124.923l-9.56-9.556a0.5,0.5,0,1,0-.7.707l9.55,9.556a0.5,0.5,0,0,0,.71,0A0.492,0.492,0,0,0,1536.63,124.923Z" transform="translate(-1526.25 -115.25)"/>