.c-navbar
	.row
		.col-md-2
			a(href="#").c-navbar__link Личный кабинет: ivan_kushchenko
		.col-md-2 
			| Ваш город:
			a(href="#").c-navbar__link  Санкт-Петербург
		.col-md-2
			a(href="#!").c-navbar__btn
				img(src="", alt="").c-navbar__btn-icon
				| В сравнении 
				span.c-navbar__counter 3
				| тов.
		.col-md-2
			a(href="#!").c-navbar__btn
				img(src="", alt="").c-navbar__btn-icon
				| В закладках
				span.c-navbar__counter.is-empty 0
				| тов.
		.col-md-2
			a(href="#!").c-navbar__btn
				img(src="", alt="").c-navbar__btn-icon
				| В корзине 
				span.c-navbar__counter 3
				| тов.
		.col-md-2
			a(href="#!").c-btn.c-btn_primary оформить заказ
